/**
 * @file
 * This file is used to style the content moderation form.
 */
.entity-moderation-form {
  padding-block-start: 0.5em;
  padding-inline-end: 1em;
}
.entity-moderation-form .form-item,
.entity-moderation-form .form-submit {
  margin-block: 0.5em;
  margin-inline: 0;
}
.entity-moderation-form__item .form-text {
  inline-size: 100%;
}
.entity-moderation-form__item:last-child {
  inline-size: 100%;
}
.entity-moderation-form input[type="submit"] {
  margin-block-end: 1em;
}
