/**
 * @file Generic CSS for form items.
 */

.form-label {
  display: block;
  margin: var(--spacing-smallest) 0;
  color: var(--color-gray-darkest);
  font-size: var(--spacing);
  font-weight: 700;
}

.form-text,
.form-email {
  min-width: 100%;
  max-width: 100%;
  margin: var(--spacing-smallest) 0;
  padding: 0.8rem 0.4rem;
  color: var(--color-black);
  border: var(--border-width-medium) solid var(--color-gray);
  font-size: var(--spacing);
}
.form-text:focus,
.form-email:focus {
  border: var(--border-width-medium) solid var(--color-primary);
}
.form-text[type="checkbox"] {
  min-width: inherit;
  max-width: none;
}

.form-textarea {
  padding: 0.8rem 0.4rem;
  color: var(--color-black);
  border: var(--border-width-medium) solid var(--color-gray);
}
.form-textarea:focus {
  border: var(--border-width-medium) solid var(--color-primary);
}

.form-select {
  margin: var(--spacing-smallest) 0;
  color: var(--color-black);
  border: var(--border-width-medium) solid var(--color-gray);
  background: var(--color-white);
  font-size: var(--spacing);
}

.form-select:focus {
  margin-bottom: 2px;
  border: var(--border-width-medium) solid #00836d;
}
