.node__meta {
  display: flex;
  align-items: center;
  margin-block-end: var(--sp1);
  color: var(--color-text-neutral-soft);
  font-size: 0.875rem;
  line-height: var(--sp);
}

.node__meta a {
  color: var(--color-text-primary-medium);
  font-weight: bold;
}

@media (min-width: 31.25rem) {
  .node__meta {
    margin-block-end: var(--sp2);
  }
}

.node__author-image img {
  width: var(--sp2-5);
  height: var(--sp2-5);
  margin-inline-end: var(--sp0-5);
  object-fit: cover;
  border-radius: 50%;
}
