.layout-example-2col .region-left {
  float: inline-start;
  inline-size: 50%;
}
* html .layout-example-2col .region-left {
  inline-size: 49.9%;
}

.layout-example-2col .region-right {
  float: inline-start;
  inline-size: 50%;
}
* html .layout-example-2col .region-right {
  inline-size: 49.9%;
}
