/* table style column align */
.views-align-left {
  text-align: start;
}
.views-align-right {
  text-align: end;
}
.views-align-center {
  text-align: center;
}
/* Grid style column align. */
.views-view-grid .views-col {
  float: inline-start;
}
.views-view-grid .views-row {
  float: inline-start;
  clear: both;
  inline-size: 100%;
}
/* Provide some space between display links. */
.views-display-link + .views-display-link {
  margin-inline-start: 0.5em;
}
