/**
 * Add spacing to top and bottom of pages.
 */

.page-content {
  margin-block: 1.5rem 80px;
}

@media screen and (min-width: 38em) {
  .page-content {
    margin-block-start: 2rem;
  }
}

/**
 * Add color to layout icons.
 */
.layout-icon__region {
  fill: #f5f5f2;
  stroke: #666;
}
