/**
 * Layout overrides for node add/edit form.
 */

:root {
  --node-meta-width: 22.5rem;
  --node-meta-xl-width: 25vw;
}

.layout-region {
  box-sizing: border-box;
}

.layout-region--node-footer .layout-region__content {
  margin-top: var(--space-l);
}

/**
 * Wide screens
 */
@media screen and (min-width: 61rem) {
  .layout-node-form {
    display: flex;
    flex-wrap: wrap;

    @nest [dir="rtl"] & {
      flex-direction: row-reverse;
    }
  }

  .layout-region--node-main,
  .layout-region--node-footer {
    width: calc(100% - var(--node-meta-width));
    padding-inline-end: var(--space-l);

    @nest [dir="rtl"] & {
      padding-inline: var(--space-l) 0;
    }
  }

  .layout-region--node-main .layout-region__content,
  .layout-region--node-footer .layout-region__content {
    max-width: 52rem;
    margin-inline: auto;
  }

  .layout-region--node-footer .layout-region__content {
    margin-block-start: var(--space-xs);
  }

  .layout-region--node-secondary {
    width: var(--node-meta-width);
  }

  /* Push sidebar down to horizontal align with form section */
  .layout-region--node-secondary {
    margin-block-start: var(--space-l);
  }
}

/**
 * Extra Wide screens
 */
@media screen and (min-width: 112rem) {
  .layout-region--node-main,
  .layout-region--node-footer {
    width: calc(100% - var(--node-meta-xl-width));
  }

  .layout-region--node-secondary {
    width: var(--node-meta-xl-width);
  }
}
