/**
 * @file
 * Replacement 'Reusable layout' component styles of system/admin library.
 */

.layout-container {
  margin-inline: 1em;
}
.layout-container::after {
  display: table;
  clear: both;
  content: "";
}

@media screen and (min-width: 38em) {
  .toolbar-tray-open:not(.toolbar-vertical) .layout-container,
  body:not(.toolbar-tray-open) .layout-container {
    margin-inline: 3em;
  }
  .toolbar-tray-open:not(.toolbar-vertical) .layout-row,
  body:not(.toolbar-tray-open) .layout-row {
    margin-inline: -1.5em;
  }
  .toolbar-tray-open:not(.toolbar-vertical) .layout-column,
  body:not(.toolbar-tray-open) .layout-column {
    float: inline-start; /* LTR */
    box-sizing: border-box;
    padding-inline: 1.5em;
  }
  [dir="rtl"] .toolbar-tray-open:not(.toolbar-vertical) .layout-column,
  [dir="rtl"] body:not(.toolbar-tray-open) .layout-column {
    float: inline-end;
  }
  .toolbar-tray-open:not(.toolbar-vertical) .layout-column--half,
  body:not(.toolbar-tray-open) .layout-column--half {
    inline-size: 50%;
  }
  .toolbar-tray-open:not(.toolbar-vertical) .layout-column--quarter,
  body:not(.toolbar-tray-open) .layout-column--quarter {
    inline-size: 25%;
  }
  .toolbar-tray-open:not(.toolbar-vertical) .layout-column--three-quarter,
  body:not(.toolbar-tray-open) .layout-column--three-quarter {
    inline-size: 75%;
  }
}

@media screen and (min-width: 60em) {
  .layout-container {
    margin-inline: 3em;
  }
  .layout-row {
    margin-inline: -1.5em;
  }
  .layout-column {
    float: inline-start; /* LTR */
    box-sizing: border-box;
    padding-inline: 1.5em;
  }
  [dir="rtl"] .layout-column {
    float: inline-end;
  }
  .layout-column--half {
    inline-size: 50%;
  }
  .layout-column--quarter {
    inline-size: 25%;
  }
  .layout-column--three-quarter {
    inline-size: 75%;
  }
}
