/**
* @file
* This file is used to style the 'Card' view mode.
*/

.view-mode-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--spacing);
  border: var(--border-width) solid var(--color-tertiary-dark);
}

.view-mode-card .node__title {
  flex-grow: 1;
}

.view-mode-card .field--name-title {
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.424rem;
  font-weight: 400;
}

.view-mode-card .node__link {
  text-decoration: none;
  color: var(--color-black);
  background-color: inherit;
}

.view-mode-card .node__link:focus,
.view-mode-card .node__link:hover {
  text-decoration: underline;
  color: var(--color-black);
}

.view-mode-card .field--name-field-media-image img {
  display: block;
  width: 100%;
  margin-bottom: 1.2em;
}

.view-mode-card .label-items {
  color: var(--color-grey-dark);
  font-size: 0.889rem;
}
