/**
 * @file
 * This file is used to style the disclaimer block.
 */

.disclaimer__disclaimer,
.disclaimer__copyright {
  display: block;
  text-align: center;
  font-size: 0.94rem;
}

@media screen and (min-width: 75rem) {
  .disclaimer {
    display: flex;
    justify-content: space-between;
  }

  .disclaimer__disclaimer,
  .disclaimer__copyright {
    margin-block-end: 0;
    text-align: start;
  }

  .disclaimer__disclaimer {
    max-inline-size: 40%;
    margin-inline-start: 0.5rem;
  }

  .disclaimer__copyright {
    inline-size: 25%;
  }
}
