/**
 * @file
 * Maintenance theming.
 *
 * These styles affect the installation UI, maintenance page, and the database update UI.
 */

.maintenance-page {
  min-block-size: 100%;
  background-color: var(--color-gray-100);
}

h1,
h2 {
  font-size: var(--font-size-h3);
}

h3 {
  font-size: var(--font-size-h4);
}

.site-name {
  margin-block-start: var(--space-s);
  word-wrap: break-word;
  color: var(--color-gray);
  font-size: var(--font-size-xl);
}
.site-name--subtle {
  margin-block-start: var(--space-s);
  color: var(--color-gray-800);
  font-size: var(--font-size-h4);
}

.title {
  margin-block-start: 0;
  font-size: var(--font-size-h3);
}
.title--broad {
  font-size: var(--font-size-h1);
}

.site-name,
.title {
  margin-block-end: var(--space-l);
}

.content {
  margin-block-end: var(--space-m);
  color: var(--color-gray);
}
.content--subtle {
  color: var(--color-gray-800);
}

.site-name,
.title,
.content {
  max-inline-size: 34rem;
}

/**
 * Task list & step indicator.
 * Shows on both the install screen and the database update page.
 */
@media all and (max-width: 48em) {
  /* 768px */
  header[role="banner"] {
    position: relative;
  }
  .step-indicator {
    position: absolute;
    inset-block-start: 0.2em;
    inset-inline-end: 0.5em;
    display: block;
    font-size: 1.385em;
  }
}

@media all and (min-width: 48em) {
  /* 768px */
  .step-indicator {
    display: none;
  }
  .task-list {
    margin-inline-start: -3rem;
    padding: 0;
    list-style-type: none;
    counter-reset: steps;
    font-weight: bold;
  }
  .task-list li {
    padding-block: 1rem;
    padding-inline: 3rem 1rem;
    counter-increment: steps;
    color: var(--color-gray);
    border-radius: 0 2rem 2rem 0 /* LTR */;
    font-weight: 500;
  }
  [dir="rtl"] .task-list li {
    border-radius: 2rem 0 0 2rem;
  }
  .task-list li::before {
    margin-inline-end: 0.375rem;
    content: counter(steps);
  }
  [dir="rtl"] .task-list li::before {
    margin-inline: 0.375rem 0;
  }

  .task-list .is-active {
    color: var(--color-absolutezero);
    border: 1px solid transparent; /* Required for forced-colors mode. */
    background: var(--color-bgblue-active);
    font-weight: 500;
  }
  .task-list .done {
    color: var(--color-gray-700);
  }
}

/**
 * Layout
 */
.layout-container {
  inline-size: auto;
  margin-inline: 1.25em;
  padding: var(--space-xl);
  border: 1px solid transparent; /* Required for forced-colors mode. */
  border-radius: 8px;
  background: #fff;
  box-shadow: var(--shadow-z3);
}
.layout-container::after {
  /* No reason for a clearfix in the markup. */
  display: table;
  clear: both;
  content: "";
}

@media all and (max-width: 48em) {
  /* 768px */
  .layout-container {
    margin: 1.25em;
    padding-block: var(--space-m);
    padding-inline: var(--space-l);
  }

  .layout-sidebar-first {
    display: none;
  }
}

@media all and (min-width: 48em) {
  /* 768px */
  html {
    display: table;
  }
  .install-page,
  .maintenance-page {
    display: table-cell;
    padding-block: 1em;
    padding-inline: 0;
    vertical-align: middle;
  }
  html,
  .install-page,
  .maintenance-page {
    inline-size: 100%;
    block-size: 100%;
    margin: 0;
  }
  /**
   * Needed to override rules from system-admin--layout.pcss.
   */
  .layout-container.layout-container.layout-container {
    inline-size: 75%;
    max-inline-size: 940px;
    margin-block: 0;
    margin-inline: auto;
  }
  ul {
    margin-block: 0.25em;
    margin-inline: 0;
    padding: 15px;
  }
  [dir="rtl"] ul {
    margin-inline-end: 0; /* Overrides default [dir="rtl"] ul margin. */
  }

  /* Positioning sidebar & content. */
  .layout-sidebar-first {
    float: inline-start; /* LTR */
    inline-size: 35%;
  }
  [dir="rtl"] .layout-sidebar-first {
    float: inline-end;
  }

  .main-content {
    float: inline-start; /* LTR */
    clear: none;
    box-sizing: border-box;
    inline-size: 65%;
    padding-inline-start: 3.85em; /* LTR */
  }
  [dir="rtl"] .main-content {
    float: inline-end;
    padding-inline: 0 3.85em;
  }
  .main-content--attached {
    padding-inline-start: 0;
  }
}

/**
 * Status report customization for install and update page.
 */
.system-status-report__status-title {
  float: none;
  inline-size: 100%;
}
.system-status-report__entry__value {
  float: none;
  inline-size: 100%;
  padding-block-start: 0;
  padding-inline-start: 3em; /* LTR */
}
[dir="rtl"] .system-status-report__entry__value {
  padding-inline: 1em 3em;
}

/**
 * Updates list customization for update page.
 */
.update-results {
  overflow: auto; /* Required to prevent text clipping. */
  margin-block-start: 0;
  padding: var(--space-s);
  border: 1px solid var(--color-gray-100);
  border-radius: var(--base-border-radius);
  background: var(--color-gray-050);
}
.update-results > h3:first-child {
  margin-block-start: 0;
}
.update-results .failure strong {
  color: var(--color-maximumred);
}

.item-list > h3 {
  font-size: var(--font-size-h5);
}
.item-list > ul {
  margin-inline-start: 0;
}
