/**
 * @file
 * Visual styles for exposed filters.
 */

.exposed-filters .filters {
  float: inline-start; /* LTR */
  margin-inline-end: 1em; /* LTR */
}
[dir="rtl"] .exposed-filters .filters {
  float: inline-end;
  margin-inline: 1em 0;
}
.exposed-filters .form-item {
  margin-block: 0 0.1em;
  margin-inline: 0;
  padding: 0;
}
.exposed-filters .form-item label {
  float: inline-start; /* LTR */
  inline-size: 10em;
  font-weight: normal;
}
[dir="rtl"] .exposed-filters .form-item label {
  float: inline-end;
}
.exposed-filters .form-select {
  inline-size: 14em;
}
/* Current filters */
.exposed-filters .current-filters {
  margin-block-end: 1em;
}
.exposed-filters .current-filters .placeholder {
  font-weight: bold;
  font-style: normal;
}
.exposed-filters .additional-filters {
  float: inline-start; /* LTR */
  margin-inline-end: 1em; /* LTR */
}
[dir="rtl"] .exposed-filters .additional-filters {
  float: inline-end;
  margin-inline: 1em 0;
}
