/**
 * @file
 * Visual styles for icons.
 */

.icon-help {
  padding-block: 1px;
  padding-inline: 20px 0; /* LTR */
  background: url(../../../../../misc/help.png) 0 50% no-repeat; /* LTR */
}
[dir="rtl"] .icon-help {
  padding-block: 1px;
  padding-inline: 0 20px;
  background-position: 100% 50%;
}
.feed-icon {
  display: block;
  overflow: hidden;
  inline-size: 16px;
  block-size: 16px;
  text-indent: -9999px;
  background: url(../../../../../misc/feed.svg) no-repeat;
}
