/**
 * @file
 * This file is used to style fields.
 */

.field--label-inline.field {
  display: flex;
  flex-wrap: wrap;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  float: none;
}

.field--label-inline .field__items {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
