/**
 * @file
 * This file is used to style the 'field-recipe-instruction' field.
 */

.field--name-field-recipe-instruction .field__label {
  margin-block: 0 1em;
  margin-inline: 0;
  padding-block: 0 0.6em;
  padding-inline: 0;
  border-block-end: 1px solid #eec2cb;
  font-family: "Scope One", Georgia, serif;
  font-size: 1.266rem;
  font-weight: 400;
  line-height: 1.2;
}
/* Large */
@media screen and (min-width: 60rem) {
  /* 960px */
  .field--name-field-recipe-instruction .field__label {
    margin-block: 0 1.5em;
    margin-inline: 0;
    font-size: 1.77rem;
  }
}
.field--name-field-recipe-instruction ol {
  padding: 0;
  list-style-type: none;
}
.field--name-field-recipe-instruction ol > li {
  position: relative;
  min-block-size: 1.5em;
  padding-block: 0 0.6em;
  padding-inline: 2.5em 0; /* LTR */
  list-style: none;
  counter-increment: step-counter;
}
[dir="rtl"] .field--name-field-recipe-instruction ol > li {
  padding-block: 0 0.6em;
  padding-inline: 0 2.5em;
}
.field--name-field-recipe-instruction ol > li::before {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0; /* LTR */
  content: counter(step-counter);
  color: #cc2a00;
  font-size: 1.5rem;
}
[dir="rtl"] .field--name-field-recipe-instruction ol > li::before {
  inset-inline: auto 0;
}
