/**
 * @file
 * This file is used to style the 'field-recipe-instruction' field.
 */

.field--name-field-recipe-instruction .field__label {
  margin: 0 0 1em 0;
  padding: 0 0 0.6em 0;
  border-bottom: 1px solid #eec2cb;
  font-family: "Scope One", Georgia, serif;
  font-size: 1.266rem;
  font-weight: 400;
  line-height: 1.2;
}
/* Large */
@media screen and (min-width: 60rem) {
  /* 960px */
  .field--name-field-recipe-instruction .field__label {
    margin: 0 0 1.5em 0;
    font-size: 1.77rem;
  }
}
