/**
 * Traditional split diff theming
 */
table.diff {
  inline-size: 100%;
  margin-block-end: 20px;
  border-spacing: 4px;
}
table.diff .diff-context {
  background-color: #fafafa;
}
table.diff .diff-deletedline {
  inline-size: 50%;
  background-color: #ffa;
}
table.diff .diff-addedline {
  inline-size: 50%;
  background-color: #afa;
}
table.diff .diffchange {
  color: #f00;
  font-weight: bold;
}
table.diff .diff-marker {
  inline-size: 1.4em;
}
table.diff th {
  padding-inline-end: inherit; /* LTR */
}
[dir="rtl"] table.diff th {
  padding-inline: inherit 0;
}
table.diff td div {
  overflow: auto;
  padding-block: 0.1ex;
  padding-inline: 0.5em;
  word-wrap: break-word;
}
table.diff td {
  padding-block: 0.1ex;
  padding-inline: 0.4em;
}
