/**
 * @file
 * This file is used to style the account menu.
 */

@media screen and (min-width: 48em) {
  .menu--account {
    display: block;
    text-align: end;
  }
}
.menu-account {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1.5;
}
.menu-account__item + .menu-account__item {
  margin-inline-start: 1em;
}
.menu-account__link,
.menu-account__link:hover,
.menu-account__link:focus {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}
.menu-account__link:hover,
.menu-account__link:focus {
  text-decoration: underline;
}
