/**
 * @file
 * Styling for toolbar warning message.
 */

.toolbar-warning {
  overflow: hidden;
  margin-block: 0.5em;
  margin-inline: 0;
  padding-block: 0.5em;
  padding-inline: 2.3333em 2em;
  text-indent: -1000px;
  background: url(../../../../core/misc/icons/e29700/warning.svg) no-repeat center center transparent;
  background-size: auto 20px;
}

.toolbar-warning:hover {
  color: #000;
}

@media only screen and (min-width: 40em) {
  .toolbar-warning {
    padding-inline-end: 1em; /* LTR */
    text-decoration: none;
    text-indent: 0;
    color: #000;
    border-color: #f4daa6;
    border-radius: 4px;
    background-color: #fdf8ed;
    background-position: 0.5em center; /* LTR */
    background-size: auto 18px;
    font-weight: bold;
  }
  [dir="rtl"] .toolbar-warning {
    padding-inline: 1em 2em;
    background-position: right 0.5em center;
  }
}
