/**
 * @file
 * Theme styles for the content_moderation module.
 */
.entity-moderation-form {
  margin-block: 2em;
  margin-inline: 0;
  padding-inline-start: 1em;
  border: 1px dashed #bbb;
  background: #fff;
}
