/**
 * @file
 * This file is used to style the 'Articles Aside' view.
 */

.block-views-blockarticles-aside-block-1 > .block__title {
  margin-block: 0 1.562rem;
  margin-inline: 0;
}

.block-views-blockarticles-aside-block-1 .views-row {
  margin-block-end: 1.562rem;
}
