/**
 * Content header.
 */

@import "../base/variables.pcss.css";

.content-header {
  overflow: hidden;
  margin-bottom: var(--space-s);
  padding: 12px 0 36px;
  background-color: var(--color-gray-050);
}
