.node-preview-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  z-index: 499;
  box-sizing: border-box;
}

.node-preview-form-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
