/**
 * @file
 * Node preview container styling.
 */

@import "../base/variables.pcss.css";

:root {
  /**
  * Node preview.
  */
  --node-preview--padding-vertical: 0.625rem; /* 10px */
  --node-preview--padding-horizontal: 3rem; /* Layout container spacing */
  --node-preview--padding-horizontal-sm: 1rem /* Layout container spacing */
}

.node-preview-container {
  position: relative;
  z-index: 499;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: var(--node-preview--padding-vertical) var(--node-preview--padding-horizontal-sm);
}

@media screen and (min-width: 60em) {
  .node-preview-container {
    padding: var(--node-preview--padding-vertical) var(--node-preview--padding-horizontal);
  }
}

.node-preview-form-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.node-preview-form-select .form-item--view-mode {
  margin-left: var(--space-l); /* LTR */
}

[dir="rtl"] .node-preview-form-select .form-item--view-mode {
  margin-right: var(--space-l);
  margin-left: 0;
}
