/**
 * @file
 * Replacement styles for toggletip.
 *
 * Replaces core's toggletip.css.
 *
 * @see toggletip.js
 */

.toggletip {
  width: 1.5rem;
  height: 1.5rem;
  color: #55565b;
  border: 1px solid #d3d4d9;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding-inline: 3.5px;
  padding-block: 3px;
}
