/**
 * Views styling
 */

:root {
  /**
  * Views-ui
  */
  --views-tabs-bg-color: #fff;
  --views-tabs-border-color: #cbcbcb;
  --view-tabs-error-border-color: #ed541d;
  --view-tabs-add-box-shadow: #26a769;
  --view-tabs-active-bg-color: #555;
  --view-ui-drag-td-bg-color: #fe7;
  --view-ui-drag-td-previous-bg-color: #ffb;
}

/* @group Forms */

/**
 * Claro positions the summary absolutely, but does not have a way to ignore
 * details without a summary so we make one up.
 *
 * @todo Neither a fieldset without legend nor a details without summary is
 *   valid HTML markup in any way. Refactor Views UI to not produce such invalid
 *   markup.
 */

details.fieldset-no-legend {
  padding-block-start: 0;
}

/**
 * Being extra safe here and scoping this to the add view wizard form (where
 * a layout problem occurs for the Display format details if we don't fix its
 * padding), but it's probably safe to just let it apply everywhere.
 */
.views-ui-dialog input.form-submit,
.views-admin a.button,
.views-ui-dialog a.button {
  margin-block: 0;
  margin-inline-end: 0;
}

.views-ui-dialog {
  & .form--flex {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
  }

  & .form-item {
    margin-block: var(--space-m);
  }

  & .form-type--boolean {
    margin-inline: 0;

    & .form-boolean {
      inset-block-start: 0;
      float: none;
      margin-block: 0;
      margin-inline: 0 calc(var(--space-xs) / 2);
      transform: none;
    }
  }

  & .form-boolean-group .form-type--boolean {
    margin-block: 0.4em;
  }

  & .form-item:first-of-type.description {
    margin: 0 0 var(--space-l) 0;
    padding-block-end: var(--space-s);
    border-block-end: var(--input-border-size) solid var(--color-gray-200);
    font-weight: bold;
  }

  /* So "remove" link appears next to the checkbox. */
  & .draggable .form-type--checkbox {
    display: inline-block;
    margin: 0 calc(var(--space-xs) / 2);
  }

  & .form-element {
    min-height: calc(((var(--input-padding-vertical--small) + var(--input-border-size)) * 2) + var(--input-line-height--small)); /* iOS. */
    padding: var(--input-padding-vertical--small) var(--input-padding-horizontal--small);
    font-size: var(--input-font-size--small);
    line-height: var(--input-line-height--small);
  }

  & .form-element--type-select {
    padding-inline-end: calc(calc(var(--space-m) * 2) - var(--input-border-size));
    background-position-y: 56%;
  }

  /**
  * Elements must communicate width to table rendering.
  * @todo revisit in https://www.drupal.org/node/3159896
  */
  & td .form-element {
    width: auto;
  }
}

/* @group Dependent options */

/* This is necessary to supercede the Claro .form-item
 * reset declaration that sets the margin to zero.
 */
.form-item-options-expose-required,
.form-item-options-expose-label,
.form-item-options-expose-field-identifier,
.form-item-options-expose-description {
  margin-inline-start: 1.5em;
}

.views-admin-dependent .form-item .form-item,
.views-admin-dependent .form-type-checkboxes,
.views-admin-dependent .form-type-radios,
.views-admin-dependent .form-item .form-item,
.form-item-options-expose-required,
.form-item-options-expose-label,
.form-item-options-expose-field-identifier,
.form-item-options-expose-description {
  margin-block: calc(var(--space-s) / 2);
}

.views-admin-dependent .form-type-radio,
.views-admin-dependent .form-radios .form-item {
  margin-block: var(--outline-size);
}

/* @end */

/* @group Lists */

.views-admin {
  & .item-list ul {
    margin: 0;
    padding: 0;
  }

  & .links li {
    padding-inline-end: 0;
  }

  & .button .links li {
    padding-inline-end: var(--space-s);
  }
}

.views-display-top__extra-actions-wrapper {
  margin: calc(var(--space-xs) / 2) var(--space-xs) var(--space-xs);
}

/* @end */

/* @group Tables */

.views-ui-rearrange-filter-form td,
.views-ui-rearrange-filter-form th {
  vertical-align: top;
}

/* @end */

/* @group Attachment details */

#edit-display-settings-title {
  color: var(--color-blue-400);
}

/* @end */

/* @group Attachment details tabs
 *
 * The tabs that switch between sections
 *
 * @todo this group contains lots of duplicates from core styles because Claro
 *   has its custom markup for views tabs. Some of these could be removed after
 *   https://www.drupal.org/node/3051605 has been solved.
 */

.views-tabs {
  display: flex;
  overflow: visible;
  flex-wrap: wrap;
  margin-block: 0;
  margin-inline: 0 var(--space-l);
  padding: 0;
  list-style: none;
  text-align: left; /* LTR */
  border-block-end: 0 none;

  & .views-display-deleted-link {
    text-decoration: line-through;
  }

  & li,
  & li.is-active {
    width: auto;
    padding: 0;
    border: 0;
    background: transparent;
  }

  & li {
    margin-block: 0 calc(calc(var(--space-xs) / 2) + var(--input-border-size));
    margin-inline: calc(var(--space-s) / 2) calc(calc(var(--space-xs) / 2) + var(--input-border-size));

    &:hover {
      padding-inline-start: 0;
      border: 0;
    }

    &.add ul.action-list li {
      margin: 0;
    }
  }

  & li + li {
    border-block-start: 0;
  }

  & a {
    display: inline-block;
    padding: calc(var(--space-xs) + var(--outline-size));
    border: var(--input-border-size) solid var(--views-tabs-border-color);
    border-radius: calc(calc(var(--space-s) / 2) + var(--input-border-size));
    font-size: small;
    line-height: var(--line-height-heading);

    &:focus {
      outline: none;
    }
  }

  & li a {
    text-decoration: none;
    background-color: var(--views-tabs-bg-color);
  }

  & li a:hover,
  & li.is-active a,
  & li.is-active a.is-active {
    color: var(--views-tabs-bg-color);
    background-color: var(--view-tabs-active-bg-color);
  }

  & .add {
    position: relative;

    & a {
      padding-block: calc(var(--space-xs) + var(--input-border-size));
      padding-inline: calc(var(--space-xs) + var(--input-border-size)) calc(var(--space-s) + var(--input-border-size));
      color: var(--color-gray-800);
      border: none;
      border-radius: var(--base-border-radius);
      background-color: transparent;
      font-size: var(--font-size-base);
      font-weight: 700;
    }

    & a::before {
      display: inline-block;
      width: 1em;
      height: calc(1em - (var(--input-border-size) * 2));
      content: "";
      /* Copy of icon from .action-link--icon-plus */
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' stroke-width='2' stroke='%23545560'%3E%3Cpath d='m3 8h10'/%3E%3Cpath d='m8 3v10'/%3E%3C/svg%3E");
    }

    & a:hover {
      color: var(--color-absolutezero-hover);
      background-color: var(--color-bgblue-hover);
    }

    & a:hover::before {
      /* Copy of icon from .action-link--icon-plus:hover */
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' stroke-width='2' stroke='%230036b1'%3E%3Cpath d='m3 8h10'/%3E%3Cpath d='m8 3v10'/%3E%3C/svg%3E");
    }

    & a:focus {
      background-color: var(--color-bgblue-active);
      box-shadow: 0 0 0 var(--focus-border-size) var(--view-tabs-add-box-shadow);
    }

    &.open a {
      color: var(--color-white);
      background-color: var(--color-absolutezero);
    }

    &.open a::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' stroke-width='2' stroke='%23FFFFFF'%3E%3Cpath d='m3 8h10'/%3E%3Cpath d='m8 3v10'/%3E%3C/svg%3E");
    }

    /* Hide core icon, added via JS that isn't accessible via theme function. */
    & .icon.add {
      display: none;
    }
  }

  & .action-list {
    position: absolute;
    z-index: 50;
    inset-block-start: 38px;
    inset-inline-start: calc(var(--outline-size) * -1);
    margin: 0;
    box-shadow: var(--details-box-shadow);

    & li {
      display: block;
      border-width: 0 var(--input-border-size);
      border-style: solid;
      border-color: var(--views-tabs-border-color);
      background-color: var(--views-tabs-bg-color);
    }

    & li:first-child {
      border-width: var(--input-border-size) var(--input-border-size) 0;
      border-radius: 0 var(--base-border-radius) 0 0; /* LTR */

      [dir="rtl"] & {
        border-radius: 0 0 0 var(--base-border-radius);
      }
    }
  }

  [dir="rtl"] & {
    text-align: right;
  }
}

/* Display a red border if the display doesn't validate. */
.views-tabs li.is-active a.is-active.error,
.views-tabs .error {
  padding: var(--space-xs);
  border: var(--outline-size) solid var(--view-tabs-error-border-color);
}

.views-tabs .action-list li:last-child,
.views-displays .action-list li:last-child {
  padding-block-end: 0.4rem;
  border-width: 0 var(--input-border-size) var(--input-border-size);
  border-bottom-right-radius: var(--button-border-radius-size);
  border-bottom-left-radius: var(--button-border-radius-size);
}

.views-tabs__action-list-button {
  width: 100%;
  margin: 0;
  padding: var(--space-s) var(--space-l);
  text-align: left;
  border: medium none;
  border-radius: 0;
  background: none repeat scroll 0 0 transparent;
  font-weight: normal;

  &.button:hover,
  &.button:focus {
    color: var(--color-white);
    background-color: var(--color-absolutezero);
  }

  /* Remove outline provided by default styling */
  &:not(:focus) {
    box-shadow: none;
  }

  /* RTL required for precedence over core's styles. */
  [dir="rtl"] & {
    margin: 0;
  }
}

/* @end */

/* @group Attachment buckets
 *
 * These are the individual "buckets," or boxes, inside the display settings area
 */

.views-ui-display-tab-bucket {
  & .links {
    padding: var(--outline-size) calc(var(--space-s) / 2) calc(var(--space-xs) / 2);

    & li + li {
      margin-inline-start: calc(var(--outline-size) + var(--input-border-size));
    }
  }
}

/* @end */

/* @group Rearrange filter criteria */

.views-ui-rearrange-filter-form {
  & tr {
    border-bottom: 0;

    &:first-of-type {
      border-block-start: var(--input-border-size) solid var(--color-gray-200);
    }
  }

  & tr:not(.draggable):hover {
    background: inherit;
  }

  & .action-links {
    float: left;
    margin: 0 0 1em;
    padding: 0;
  }

  & .tabledrag-toggle-weight-wrapper {
    float: right;
  }

  & .tabledrag-cell {
    position: relative;
  }

  & [id^="views-row"] {
    border: medium none;
  }

  & tr td:last-child {
    border-inline-end: medium none;
  }

  & .filter-group-operator-row {
    border-inline-end: var(--input-border-size) solid transparent !important;
    border-inline-start: var(--input-border-size) solid transparent !important;
  }

  & tr.drag td {
    background-color: var(--view-ui-drag-td-bg-color) !important;
  }

  & tr.drag-previous td {
    background-color: var(--view-ui-drag-td-previous-bg-color) !important;
  }

  & .draggable td {
    vertical-align: middle;
  }
}

/* @end */

/* @group Live preview elements */

.views-query-info {
  & pre {
    margin-block: 0;
  }

  /* @group Query info table */

  & table {
    border-spacing: var(--input-border-size);
    border-radius: calc(calc(var(--space-s) / 2) + var(--input-border-size));

    & tr td:last-child {
      /* Fixes a Claro style that bleeds down into this table unnecessarily */
      border-inline-end: 0 none;
    }
  }
}

/* @end */

/* @group Add view */

.form-item-page-create,
.form-item-block-create {
  margin-block-start: calc(var(--space-s) + var(--input-border-size));
}

/* @end */

/* @group Modal dialog box
 *
 * The contents of the popup dialog on the views edit form.
 */

.filterable-option .form-item.form-type-checkbox {
  /* This selector is aggressive because Claro's reset for .form-items is aggressive. */
  padding-block: calc(var(--space-xs) / 2);
}

/* @end */

/* @group Grouping styles
 *
 * For grouping related form elements together, mainly used with exposed
 * filters.
 */
.views-config-group-region {
  display: table;
  margin: var(--space-l) 0;
  border: var(--input-border-size) solid var(--color-gray-200);
  border-collapse: collapse;
}

.views-config-group-region .views-group-box {
  position: relative;
  display: table-cell;
  padding: var(--space-l);
  border: var(--input-border-size) solid var(--color-gray-200);
}

.views-config-group-region .views-group-box--operator {
  padding-inline: var(--space-l) var(--space-xl);
  border-inline-end-width: 0;
  [dir="rtl"] & {
    border-inline-start-width: var(--input-border-size);
  }
}

.views-config-group-region .views-group-box--value {
  padding: 0;
  border-inline-start-width: 0;

  [dir="rtl"] & {
    border-inline-end-width: var(--input-border-size);
  }
}

.views-config-group-region .views-group-box--value>.form-item {
  margin-inline: var(--space-xl) var(--space-l);
}

.views-config-group-region .views-group-box--value>.form-item::before {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;

  & .views-group-box {
    position: relative;
    display: table-cell;
    padding: var(--space-l);
    border: var(--input-border-size) solid var(--color-gray-200);
  }

  & .views-group-box--operator {
    padding-inline-end: var(--space-xl);
    border-inline-end-width: 0;
  }

  & .views-group-box--value {
    padding: 0;
    border-inline-start-width: 0;

    & > .form-item {
      margin-inline: var(--space-xl) var(--space-l);
    }

    & > .form-item::before {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      width: var(--input-border-size);
      height: 100%;
      content: "";
      border-inline-start: var(--input-border-size) solid var(--color-gray-200);
    }

    & > .form-item::after {
      position: absolute;
      z-index: 1;
      inset-block-start: 3.8rem;
      inset-inline-start: calc(var(--space-m) * -1);
      padding-block: 0 0.3rem;
      padding-inline: 0.4rem 0.3rem;
      content: ">";
      color: var(--color-gray-600);
      border: var(--input-border-size) solid var(--color-gray-200);
      background: var(--views-tabs-bg-color);
      font-size: var(--font-size-h1);
      font-weight: bold;
      line-height: var(--font-size-h1);
    }
  }
}
