.toggletip__toggle {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  color: #55565b;
  border: 1px solid #d3d4d9;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  margin-inline: .75rem;
  padding-inline: 3.5px;
  padding-block: 3px;
}

.toggletip__toggle:hover {
  cursor: pointer;
}

.form-item__label[for] {
  display: inline-block;
}
@media (min-width: 31.25rem) {
  [type="text"] {
    display: flex;
    width: auto;
  }
  [type="textarea"] {
    display: flex;
    width: auto;
  }
}
.js-form-item-textarea .toggletip__toggle {
  top: auto!important;
}
