.tooltip {
  display: inline-flex;
  width: max-content;
  max-width: 50rem;
  margin: 0;
  padding: 0.25rem 1rem 0.375rem;
  opacity: 0.9;
  color: white;
  border-radius: 0.125rem;
  background: #232429;
  font-size: 0.875rem;
  font-weight: 400;
}

[data-drupal-tooltip][popover] {
  overflow: visible;
  border: none;
}

.tooltip a,
.tooltip .link {
  color: #ffd23f;
}

.tooltip__arrow {
  position: absolute;
  z-index: 1;
  width: 0.5rem;
  height: 0.5rem;
  transform: rotate(45deg);
  background: #222;
}