/**
 * @file
 * Stylesheet for the language switcher block.
 */

.js .umami-language-switcher .links {
  position: absolute;
  z-index: 1000;
  width: 100%;
  padding: 1rem;
  border: 1px solid #008068;
  border-top: 0;
  background: #ffffffee;
}

.umami-language-switcher .links > li {
  margin-inline-start: 1rem;
}

@media screen and (min-width: 40em) {
  .js .umami-language-switcher .links {
    position: initial;
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    background: none;
  }

  .umami-language-switcher .links > li {
    margin-inline-start: 0;
  }
  .umami-language-switcher .links > li + li {
    margin-inline-start: 1rem;
  }
}

.umami-language-switcher__content {
  position: relative;
}

.language-link,
.language-link:hover,
.language-link:focus {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}
.language-link:hover,
.language-link:focus {
  text-decoration: underline;
}
.language-link.is-active {
  font-weight: 700;
}
