/**
 * @file
 * Olivero's styles for splitbuttons.
 */

.splitbutton {
  --splitbutton-icon-width: 10px;
  --splitbutton-border-radius: var(--border-radius);
  --splitbutton-main-background-primary: var(--color--primary-40);
  --splitbutton-dropdown-background-color: var(--color--white);
  --splitbutton-dropdown-border-color: var(--color--primary-40);
  --splitbutton-dropdown-link-color: var(--color--primary-30);
  --splitbutton-dropdown-link-hover-color: var(--color--gray-20);

  margin-block: var(--sp0-5);
}

.splitbutton__main :is(a, button, .button) {
  &:hover {
    border: 1px solid transparent;
    font-weight: normal;
  }

  &:focus {
    outline-color: var(--color--primary-40);
  }
}

.splitbutton__trigger {
  &::after {
    position: absolute;
    width: var(--sp0-5);
    height: var(--sp0-5);
    content: "";
    transform: translateY(-25%) rotate(45deg);
    border-bottom: solid 2px currentColor;
    border-inline-end: solid 2px currentColor;
    clip-path: none;
    background: transparent;

    &:dir(rtl) {
      transform: translateY(-25%) rotate(-45deg);
    }
  }

  &:focus {
    z-index: 1;
    outline: solid 2px var(--color--primary-40);
    outline-offset: 2px;
  }
}

.splitbutton__item :is(a, button, .button) {
  &:hover {
    text-decoration: none;
    border: 0;
    font-weight: normal;
  }

  &:focus {
    border: none;
    outline: solid 2px var(--color--primary-40);
    outline-offset: -3px;
    font-weight: inherit;
  }
}
