/**
 * @file
 * Styles for jQuery UI dialog.
 */

.ui-dialog {
  & .ui-dialog-buttonpane {
    padding-inline: 0.2em;

    & .ui-dialog-buttonset {
      display: flex;
      float: none;
      flex-wrap: wrap;
      gap: 5px;
    }

    & button {
      margin: 0;
    }
  }
}

.ui-widget-overlay {
  z-index: 1259;
}

.ui-dialog {
  z-index: 1260;
}


.ui-dialog .ui-dialog-content {
  padding: 0;
}

.ui-dialog-content #media-library-wrapper {
  display: flex;
}

.ui-dialog-content #media-library-content {
  padding: 0 16px;
}

.ui-dialog-content #media-library-wrapper .js-media-library-menu {
  margin: 0;
}

.ui-dialog-content #media-library-wrapper .js-media-library-menu li a {
  text-decoration: none;
}

.ui-dialog-content #media-library-wrapper .js-media-library-menu li {
  margin-block-end: 8px;
  padding: 8px 24px;
  list-style-type: none;
  background-color: #e9e9e9;
}

.ui-dialog-content .js-media-library-view > .view-header,
.ui-dialog-content .js-media-library-view > .view-filters,
.ui-dialog-content .js-media-library-view > .view-content {
  margin-bottom: 0;
}
