/**
 * @file
 * Styles for announcement feeds.
 */

 #toolbar div.toolbar-menu ul li a#toolbar-link-admin-announcement:before {
  content: "";
  background: url(images/announcement-bell.svg) no-repeat;
}

.announcements {
  padding-bottom: 1rem;
}

.announcements .featured-announcements-wrapper {
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #ccc;
}

.announcements .featured-announcements-wrapper .announcements-featured {
  position: relative;
  padding-left: 30px;
  border-top: 1px solid #ccc;
  margin-left: 0;
  margin-bottom: 10px;
  background: url(images/list-item.png) no-repeat 0 11px;
}

.announcements .announcements-standard {
  position: relative;
  padding-left: 30px;
  padding-top: 9px;
  border-top: 1px solid #ccc;
  margin-left: 0;
  margin-bottom: 10px;
  background: url(images/list-item.png) no-repeat 0 11px;
}

#new-feed-featured .announcement_title h4 {
  display: inline-block;
}

.announcements .announcements--view-all {
  padding-left: 30px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
