/**
* @file
* Styles for announcement feeds toolbar.
*/

#toolbar div.toolbar-menu ul li a#toolbar-link-admin-announcements_feed {
  position: relative;
  padding-left: 30px;
}

#toolbar div.toolbar-menu ul li a#toolbar-link-admin-announcements_feed:before {
  position: absolute;
  left: 10px;
  top: 0;
  display: block;
  width: 20px;
  height: 19px;
  content: "";
  background: url(images/announcement-bell.svg) no-repeat;
  background-size: 100%;
}
