/**
* @file
* This file is used to style the 'Card' view mode.
*/

.umami-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border: 1px solid #fcece7;
}

.umami-card .umami-card__title {
  flex-grow: 1;
}

.umami-card .umami-card__title {
  text-decoration: none;
  color: #000;
  font-size: 1.424rem;
  font-weight: 400;
}

.umami-card .umami-card__link {
  text-decoration: none;
  color: #000;
  background-color: inherit;
}

.umami-card .umami-card__link:focus,
.umami-card .umami-card__link:hover {
  text-decoration: underline;
  color: #000;
}

.umami-card .umami-card__content img {
  display: block;
  width: 100%;
  margin-bottom: 1.2em;
}

.umami-card .label-items {
  color: #5f635d;
  font-size: 0.889rem;
}
