<?xml version="1.0" encoding="UTF-8"?>
<!-- cspell:ignore tfor superglobal -->
<ruleset name="drupal_core">
  <arg name="extensions" value="engine,inc,install,module,php,profile,test,theme,yml"/>
  <description>Default PHP CodeSniffer configuration for Drupal core.</description>

  <!--Exclude folders used by common frontend tools. These folders match the file_scan_ignore_directories setting in default.settings.php-->
  <exclude-pattern>*/bower_components/*</exclude-pattern>
  <exclude-pattern>*/node_modules/*</exclude-pattern>
  <!--Exclude third party code.-->
  <exclude-pattern>./assets/vendor/*</exclude-pattern>
  <!--Exclude the PHPStan baseline and temp dir from coding standards.-->
  <exclude-pattern>./core/.phpstan-baseline.php</exclude-pattern>
  <!-- Exclude third-party code maintained within core that does not follow our standards. -->
  <!-- @todo This rule may be removed when https://www.drupal.org/node/1848264 is resolved. -->
  <exclude-pattern>./core/lib/Drupal/Component/Diff/</exclude-pattern>
  <exclude-pattern>./core/phpstan-tmp/*</exclude-pattern>
  <exclude-pattern>./core/tests/Drupal/Tests/Component/Annotation/Doctrine/</exclude-pattern>

  <!--Exclude test files that are intentionally empty, or intentionally violate coding standards.-->
  <exclude-pattern>./modules/system/tests/fixtures/HtaccessTest</exclude-pattern>

  <file>.</file>
  <file>../composer</file>
  <file>scripts/password-hash.sh</file>
  <file>scripts/rebuild_token_calculator.sh</file>
  <file>scripts/run-tests.sh</file>
  <file>scripts/update-countries.sh</file>

  <!-- Drupal sniffs -->
  <rule ref="Drupal">
    <exclude name="Drupal.Arrays.Array.LongLineDeclaration"/>
    <exclude name="Drupal.Commenting.ClassComment.Missing"/>
    <exclude name="Drupal.Commenting.DocComment.LongFullStop"/>
    <exclude name="Drupal.Commenting.DocComment.MissingShort"/>
    <exclude name="Drupal.Commenting.DocComment.ShortNotCapital"/>
    <exclude name="Drupal.Commenting.FunctionComment.ParamCommentFullStop"/>
    <exclude name="Drupal.Commenting.InlineComment.DocBlock"/>
    <exclude name="Drupal.Commenting.InlineComment.InvalidEndChar"/>
    <exclude name="Drupal.Commenting.InlineComment.SpacingAfter"/>
    <exclude name="Drupal.Files.LineLength.TooLong"/>
    <exclude name="Drupal.Methods.MethodDeclaration.Underscore"/>
    <exclude name="Drupal.NamingConventions.ValidFunctionName.InvalidPrefix"/>
    <exclude name="Drupal.NamingConventions.ValidFunctionName.NotCamelCaps"/>
    <exclude name="Drupal.NamingConventions.ValidFunctionName.ScopeNotCamelCaps"/>
    <exclude name="Drupal.Semantics.ConstantName.ConstConstantStart"/>
    <exclude name="Drupal.Semantics.UnsilencedDeprecation.UnsilencedDeprecation"/>
    <exclude name="Generic.CodeAnalysis.UselessOverridingMethod.Found"/>
    <exclude name="SlevomatCodingStandard.PHP.ShortList.LongListUsed"/>
    <exclude name="Squiz.Arrays.ArrayDeclaration.KeySpecified"/>
    <exclude name="Squiz.Arrays.ArrayDeclaration.NoKeySpecified"/>
  </rule>
  <rule ref="Drupal.Commenting.FunctionComment.Missing">
    <include-pattern>core/modules/*/Plugin/views/argument/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/filter/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/access/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/cache/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/query/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/sort/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/display/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/exposed_form/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/field/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/pager/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/style/*</include-pattern>
    <include-pattern>*/Database/*</include-pattern>
    <include-pattern>*/FunctionalJavascript/*</include-pattern>
  </rule>
  <rule ref="Drupal.Commenting.FunctionComment.MissingParamType"/>
  <rule ref="Drupal.Commenting.FunctionComment.MissingReturnComment">
    <include-pattern>core/lib/Drupal/Core/*</include-pattern>
    <include-pattern>core/lib/Drupal/Component/*</include-pattern>
  </rule>
  <rule ref="Drupal.Commenting.FunctionComment.MissingReturnComment">
    <exclude-pattern>core/lib/Drupal/Core/*</exclude-pattern>
    <exclude-pattern>core/lib/Drupal/Component/*</exclude-pattern>
    <exclude-pattern>core/tests/*</exclude-pattern>
    <exclude-pattern>core/*/tests/*</exclude-pattern>
  </rule>
  <rule ref="Drupal.Commenting.VariableComment.MissingVar">
    <include-pattern>core/modules/*/tests/*</include-pattern>
    <include-pattern>core/profiles/*/tests/*</include-pattern>
  </rule>

  <!-- Drupal Practice sniffs -->
  <rule ref="DrupalPractice">
    <exclude name="DrupalPractice.CodeAnalysis.VariableAnalysis.UndefinedUnsetVariable"/>
    <exclude name="DrupalPractice.Commenting.CommentEmptyLine.SpacingAfter"/>
    <exclude name="DrupalPractice.Constants.GlobalConstant.GlobalConstant"/>
    <exclude name="DrupalPractice.Constants.GlobalDefine.GlobalConstant"/>
    <exclude name="DrupalPractice.FunctionCalls.InsecureUnserialize.InsecureUnserialize"/>
    <exclude name="DrupalPractice.FunctionCalls.Theme.ThemeFunctionDirect"/>
    <exclude name="DrupalPractice.General.DescriptionT.DescriptionT"/>
    <exclude name="DrupalPractice.General.OptionsT.TforValue"/>
    <exclude name="DrupalPractice.InfoFiles.CoreVersionRequirement.CoreVersionRequirement"/>
    <exclude name="DrupalPractice.InfoFiles.Description.Missing"/>
    <exclude name="DrupalPractice.Objects.GlobalClass.GlobalClass"/>
    <exclude name="DrupalPractice.Objects.GlobalDrupal.GlobalDrupal"/>
    <exclude name="DrupalPractice.Objects.StrictSchemaDisabled.StrictConfigSchema"/>
    <exclude name="DrupalPractice.Objects.UnusedPrivateMethod.UnusedMethod"/>
    <exclude name="DrupalPractice.Variables.GetRequestData.SuperglobalAccessed"/>
    <exclude name="DrupalPractice.Variables.GetRequestData.SuperglobalAccessedWithVar"/>
    <exclude name="DrupalPractice.Yaml.RoutingAccess.OpenCallback"/>
    <exclude name="DrupalPractice.Yaml.RoutingAccess.PermissionFound"/>
  </rule>
  <rule ref="DrupalPractice.CodeAnalysis.VariableAnalysis">
    <exclude-pattern>*/core/tests/*</exclude-pattern>
    <exclude-pattern>*/core/profiles/*/tests/*</exclude-pattern>
    <!-- Do not run this sniff on API files or transliteration data. -->
    <exclude-pattern>*.api.php</exclude-pattern>
    <exclude-pattern>core/lib/Drupal/Component/Transliteration/data/*.php</exclude-pattern>
  </rule>
  <rule ref="DrupalPractice.Objects.GlobalFunction">
    <include-pattern>*/Plugin/*</include-pattern>
    <include-pattern>*/ListBuilder/*</include-pattern>
    <include-pattern>*/tests/*/Form/*</include-pattern>
    <include-pattern>*/modules/system/tests/modules/*</include-pattern>
    <include-pattern>*/Kernel*/*</include-pattern>
    <include-pattern>*/tests/*/Functional*/*</include-pattern>
    <include-pattern>./core/lib/*</include-pattern>
  </rule>

  <!-- Generic sniffs -->
  <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

  <!-- Internal sniffs -->
  <rule ref="Internal.NoCodeFound">
    <!-- No PHP code in *.yml -->
    <exclude-pattern>*.yml</exclude-pattern>
  </rule>

  <!-- SlevomatCodingStandard sniffs -->
  <rule ref="SlevomatCodingStandard.Commenting.ForbiddenAnnotations">
    <properties>
      <property name="forbiddenAnnotations" type="array">
        <element value="@inheritDoc"/>
        <element value="@inheritdoc"/>
      </property>
    </properties>
  </rule>
  <rule ref="SlevomatCodingStandard.Commenting.ForbiddenComments">
    <properties>
       <property name="forbiddenCommentPatterns" type="array">
         <element value="/@inheritDoc/"/>
       </property>
    </properties>
  </rule>
  <rule ref="SlevomatCodingStandard.Exceptions.RequireNonCapturingCatch" />
  <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes">
    <include-pattern>*/tests/*</include-pattern>
    <exclude-pattern>*/fixtures/*</exclude-pattern>
  </rule>

</ruleset>
