<?xml version="1.0" encoding="UTF-8"?>
<!-- cspell:ignore tfor superglobal -->
<ruleset name="drupal_core">
  <arg name="extensions" value="engine,inc,install,module,php,profile,test,theme,yml"/>
  <description>Default PHP CodeSniffer configuration for Drupal core.</description>

  <!-- Exclude folders used by common frontend tools. These folders match the file_scan_ignore_directories setting in default.settings.php. -->
  <exclude-pattern>*/bower_components/*</exclude-pattern>
  <exclude-pattern>*/node_modules/*</exclude-pattern>

  <!-- Exclude third party code. -->
  <exclude-pattern>./assets/vendor/*</exclude-pattern>
  <exclude-pattern>./core/tests/Drupal/Tests/Component/Annotation/Doctrine/</exclude-pattern>
  <!-- @todo Remove in Drupal 12 following https://www.drupal.org/project/drupal/issues/3299678 -->
  <exclude-pattern>./core/lib/Drupal/Component/Diff/</exclude-pattern>

  <!-- Exclude the PHPStan baseline and temp dir. -->
  <exclude-pattern>./core/.phpstan-baseline.php</exclude-pattern>
  <exclude-pattern>./core/phpstan-tmp/*</exclude-pattern>

  <file>.</file>
  <file>../composer</file>
  <file>scripts/password-hash.sh</file>
  <file>scripts/rebuild_token_calculator.sh</file>
  <file>scripts/run-tests.sh</file>
  <file>scripts/update-countries.sh</file>

  <!-- Drupal sniffs, excluding rules that core does not meet yet. -->
  <rule ref="Drupal">
    <exclude name="Drupal.Arrays.Array.LongLineDeclaration"/>
    <exclude name="Drupal.Commenting.ClassComment.Missing"/>
    <exclude name="Drupal.Commenting.DocComment.LongFullStop"/>
    <exclude name="Drupal.Commenting.DocComment.MissingShort"/>
    <exclude name="Drupal.Commenting.DocComment.ShortNotCapital"/>
    <exclude name="Drupal.Commenting.FunctionComment.ParamCommentFullStop"/>
    <exclude name="Drupal.Commenting.InlineComment.DocBlock"/>
    <exclude name="Drupal.Commenting.InlineComment.InvalidEndChar"/>
    <exclude name="Drupal.Commenting.InlineComment.SpacingAfter"/>
    <exclude name="Drupal.Files.LineLength.TooLong"/>
    <exclude name="Drupal.Methods.MethodDeclaration.Underscore"/>
    <exclude name="Drupal.NamingConventions.ValidFunctionName.InvalidPrefix"/>
    <exclude name="Drupal.NamingConventions.ValidFunctionName.NotCamelCaps"/>
    <exclude name="Drupal.NamingConventions.ValidFunctionName.ScopeNotCamelCaps"/>
    <exclude name="Drupal.Semantics.ConstantName.ConstConstantStart"/>
    <exclude name="Drupal.Semantics.UnsilencedDeprecation.UnsilencedDeprecation"/>
    <exclude name="Generic.CodeAnalysis.UselessOverridingMethod.Found"/>
    <exclude name="SlevomatCodingStandard.PHP.ShortList.LongListUsed"/>
    <exclude name="Squiz.Arrays.ArrayDeclaration.KeySpecified"/>
    <exclude name="Squiz.Arrays.ArrayDeclaration.NoKeySpecified"/>
  </rule>

  <!-- Drupal sniffs that core partially meets. -->
  <rule ref="Drupal.Commenting.FunctionComment.Missing">
    <include-pattern>core/modules/*/Plugin/views/argument/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/filter/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/access/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/cache/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/query/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/sort/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/display/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/exposed_form/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/field/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/pager/*</include-pattern>
    <include-pattern>core/modules/*/Plugin/views/style/*</include-pattern>
    <include-pattern>*/Database/*</include-pattern>
    <include-pattern>*/FunctionalJavascript/*</include-pattern>
  </rule>
  <rule ref="Drupal.Commenting.FunctionComment.MissingReturnComment">
    <include-pattern>core/lib/Drupal/Core/*</include-pattern>
    <include-pattern>core/lib/Drupal/Component/*</include-pattern>
  </rule>
  <rule ref="Drupal.Commenting.FunctionComment.MissingReturnComment">
    <exclude-pattern>core/lib/Drupal/Core/*</exclude-pattern>
    <exclude-pattern>core/lib/Drupal/Component/*</exclude-pattern>
    <exclude-pattern>core/tests/*</exclude-pattern>
    <exclude-pattern>core/*/tests/*</exclude-pattern>
  </rule>
  <rule ref="Drupal.Commenting.VariableComment.MissingVar">
    <include-pattern>core/modules/*/tests/*</include-pattern>
    <include-pattern>core/profiles/*/tests/*</include-pattern>
  </rule>

  <!-- The Drupal ruleset disables this rule, but core enables it for tests. -->
  <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes">
    <include-pattern>*/tests/*</include-pattern>
    <exclude-pattern>*/fixtures/*</exclude-pattern>
  </rule>
  <!-- This rule explicitly re-enables the disabled rule. -->
  <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes.DeclareStrictTypesMissing">
    <severity>5</severity>
  </rule>

  <!-- Additional sniffs not in the Drupal ruleset. -->
  <rule ref="SlevomatCodingStandard.Exceptions.RequireNonCapturingCatch" />

  <!-- Drupal best practice sniffs -->
  <rule ref="DrupalPractice">
    <exclude name="DrupalPractice.CodeAnalysis.VariableAnalysis.UndefinedUnsetVariable"/>
    <exclude name="DrupalPractice.Commenting.CommentEmptyLine.SpacingAfter"/>
    <exclude name="DrupalPractice.Constants.GlobalConstant.GlobalConstant"/>
    <exclude name="DrupalPractice.Constants.GlobalDefine.GlobalConstant"/>
    <exclude name="DrupalPractice.FunctionCalls.InsecureUnserialize.InsecureUnserialize"/>
    <exclude name="DrupalPractice.FunctionCalls.Theme.ThemeFunctionDirect"/>
    <exclude name="DrupalPractice.General.DescriptionT.DescriptionT"/>
    <exclude name="DrupalPractice.General.OptionsT.TforValue"/>
    <exclude name="DrupalPractice.InfoFiles.CoreVersionRequirement.CoreVersionRequirement"/>
    <exclude name="DrupalPractice.InfoFiles.Description.Missing"/>
    <exclude name="DrupalPractice.Objects.GlobalClass.GlobalClass"/>
    <exclude name="DrupalPractice.Objects.GlobalDrupal.GlobalDrupal"/>
    <exclude name="DrupalPractice.Objects.StrictSchemaDisabled.StrictConfigSchema"/>
    <exclude name="DrupalPractice.Objects.UnusedPrivateMethod.UnusedMethod"/>
    <exclude name="DrupalPractice.Variables.GetRequestData.SuperglobalAccessed"/>
    <exclude name="DrupalPractice.Variables.GetRequestData.SuperglobalAccessedWithVar"/>
    <exclude name="DrupalPractice.Yaml.RoutingAccess.OpenCallback"/>
    <exclude name="DrupalPractice.Yaml.RoutingAccess.PermissionFound"/>
  </rule>
  <rule ref="DrupalPractice.CodeAnalysis.VariableAnalysis">
    <exclude-pattern>*/core/tests/*</exclude-pattern>
    <exclude-pattern>*/core/profiles/*/tests/*</exclude-pattern>
    <!-- Do not run this sniff on API files or transliteration data. -->
    <exclude-pattern>*.api.php</exclude-pattern>
    <exclude-pattern>core/lib/Drupal/Component/Transliteration/data/*.php</exclude-pattern>
  </rule>
  <rule ref="DrupalPractice.Objects.GlobalFunction">
    <include-pattern>*/Plugin/*</include-pattern>
    <include-pattern>*/ListBuilder/*</include-pattern>
    <include-pattern>*/tests/*/Form/*</include-pattern>
    <include-pattern>*/modules/system/tests/modules/*</include-pattern>
    <include-pattern>*/Kernel*/*</include-pattern>
    <include-pattern>*/tests/*/Functional*/*</include-pattern>
    <include-pattern>./core/lib/*</include-pattern>
  </rule>

  <!-- Prevent misuse of the @inheritdoc PHPDoc tag. -->
  <rule ref="SlevomatCodingStandard.Commenting.ForbiddenAnnotations">
    <properties>
      <property name="forbiddenAnnotations" type="array">
        <element value="@inheritDoc"/>
        <element value="@inheritdoc"/>
      </property>
    </properties>
  </rule>
  <rule ref="SlevomatCodingStandard.Commenting.ForbiddenComments">
    <properties>
       <property name="forbiddenCommentPatterns" type="array">
         <element value="/@inheritDoc/"/>
       </property>
    </properties>
  </rule>

</ruleset>
