parameters:
	ignoreErrors:
		-
			message: "#^A file could not be loaded from Drupal\\\\Core\\\\Extension\\\\ModuleHandlerInterface\\:\\:loadInclude$#"
			count: 1
			path: includes/update.inc

		-
			message: "#^Call to method getDefinitions\\(\\) on an unknown class Drupal\\\\Core\\\\Plugin\\\\CategorizingPluginManagerTrait\\.$#"
			count: 3
			path: lib/Drupal/Core/Action/ActionManager.php

		-
			message: "#^Call to method getSortedDefinitions\\(\\) on an unknown class Drupal\\\\Core\\\\Plugin\\\\CategorizingPluginManagerTrait\\.$#"
			count: 1
			path: lib/Drupal/Core/Action/ActionManager.php

		-
			message: "#^Call to method getDefinitions\\(\\) on an unknown class Drupal\\\\Core\\\\Plugin\\\\CategorizingPluginManagerTrait\\.$#"
			count: 2
			path: lib/Drupal/Core/Block/BlockManager.php

		-
			message: "#^Call to method getSortedDefinitions\\(\\) on an unknown class Drupal\\\\Core\\\\Plugin\\\\CategorizingPluginManagerTrait\\.$#"
			count: 1
			path: lib/Drupal/Core/Block/BlockManager.php

		-
			message: "#^Call to method getDefinitions\\(\\) on an unknown class Drupal\\\\Core\\\\Plugin\\\\CategorizingPluginManagerTrait\\.$#"
			count: 3
			path: lib/Drupal/Core/Condition/ConditionManager.php

		-
			message: "#^Call to method getSortedDefinitions\\(\\) on an unknown class Drupal\\\\Core\\\\Plugin\\\\CategorizingPluginManagerTrait\\.$#"
			count: 1
			path: lib/Drupal/Core/Condition/ConditionManager.php

		-
			message: "#^Call to method getDefinitions\\(\\) on an unknown class Drupal\\\\Core\\\\Plugin\\\\CategorizingPluginManagerTrait\\.$#"
			count: 3
			path: lib/Drupal/Core/Field/FieldTypePluginManager.php

		-
			message: "#^Call to method getSortedDefinitions\\(\\) on an unknown class Drupal\\\\Core\\\\Plugin\\\\CategorizingPluginManagerTrait\\.$#"
			count: 1
			path: lib/Drupal/Core/Field/FieldTypePluginManager.php

		-
			message: "#^\\#pre_render value 'non\\-empty\\-string' at key '0' is invalid\\.$#"
			count: 1
			path: lib/Drupal/Core/Render/Element/Pager.php

		-
			message: "#^The \"\\#lazy_builder\" expects a callable array with arguments\\.$#"
			count: 1
			path: lib/Drupal/Core/Render/PlaceholderGenerator.php

		-
			message: "#^The \"\\#lazy_builder\" expects a callable array with arguments\\.$#"
			count: 1
			path: lib/Drupal/Core/Render/Renderer.php

		-
			message: "#^Function twig_escape_filter not found\\.$#"
			count: 1
			path: lib/Drupal/Core/Template/TwigExtension.php

		-
			message: "#^\\#lazy_builder value 'non\\-empty\\-string' at key '0' is invalid\\.$#"
			count: 1
			path: modules/big_pipe/tests/modules/big_pipe_regression_test/src/BigPipeRegressionTestController.php

		-
			message: "#^\\#lazy_builder callback 'hello_or_yarhar' at key '0' is not callable\\.$#"
			count: 1
			path: modules/big_pipe/tests/modules/big_pipe_test/src/BigPipePlaceholderTestCases.php

		-
			message: "#^\\#pre_render callback 'current_time' at key '0' is not callable\\.$#"
			count: 1
			path: modules/big_pipe/tests/modules/big_pipe_test/src/BigPipePlaceholderTestCases.php

		-
			message: "#^\\#lazy_builder value 'non\\-empty\\-string' at key '0' is invalid\\.$#"
			count: 3
			path: modules/big_pipe/tests/modules/big_pipe_test/src/BigPipeTestController.php

		-
			message: "#^\\#lazy_builder value 'non\\-empty\\-string' at key '0' is invalid\\.$#"
			count: 1
			path: modules/block/src/BlockViewBuilder.php

		-
			message: "#^\\#pre_render value 'non\\-empty\\-string' at key '0' is invalid\\.$#"
			count: 1
			path: modules/block/src/BlockViewBuilder.php

		-
			message: "#^Function _add_ajax_listeners_to_plugin_inputs not found\\.$#"
			count: 2
			path: modules/ckeditor5/ckeditor5.module

		-
			message: "#^Function _add_attachments_to_editor_update_response not found\\.$#"
			count: 2
			path: modules/ckeditor5/ckeditor5.module

		-
			message: "#^Inner named functions are not supported by PHPStan\\. Consider refactoring to an anonymous function, class method, or a top\\-level\\-defined function\\. See issue \\#165 \\(https\\://github\\.com/phpstan/phpstan/issues/165\\) for more details\\.$#"
			count: 2
			path: modules/ckeditor5/ckeditor5.module

		-
			message: "#^Call to sprintf contains 1 placeholder, 0 values given\\.$#"
			count: 1
			path: modules/ckeditor5/src/Controller/CKEditor5ImageController.php

		-
			message: "#^Access to constant DEFAULT_COLLECTION on an unknown class Drupal\\\\config_override_test\\\\StorageInterface\\.$#"
			count: 1
			path: modules/config/tests/config_override_test/src/ConfigOverrider.php

		-
			message: "#^Access to an undefined static property static\\(Drupal\\\\Tests\\\\dblog\\\\Functional\\\\DbLogResourceTest\\)\\:\\:\\$entityTypeId\\.$#"
			count: 1
			path: modules/dblog/tests/src/Functional/DbLogResourceTest.php

		-
			message: "#^Function uploadprogress_get_info not found\\.$#"
			count: 1
			path: modules/file/src/Controller/FileWidgetAjaxController.php

		-
			message: "#^Access to an undefined static property static\\(Drupal\\\\Tests\\\\file\\\\Functional\\\\FileUploadJsonCookieTest\\)\\:\\:\\$entityTypeId\\.$#"
			count: 1
			path: modules/file/tests/src/Functional/FileUploadJsonCookieTest.php

		-
			message: "#^Access to an undefined static property static\\(Drupal\\\\Tests\\\\file\\\\Functional\\\\Hal\\\\FileUploadHalJsonCookieTest\\)\\:\\:\\$entityTypeId\\.$#"
			count: 1
			path: modules/file/tests/src/Functional/Hal/FileUploadHalJsonCookieTest.php

		-
			message: "#^Access to an undefined static property static\\(Drupal\\\\Tests\\\\file\\\\Functional\\\\Hal\\\\FileUploadHalJsonTestBase\\)\\:\\:\\$entityTypeId\\.$#"
			count: 1
			path: modules/file/tests/src/Functional/Hal/FileUploadHalJsonTestBase.php

		-
			message: "#^\\#lazy_builder value 'string' at key '0' is invalid\\.$#"
			count: 1
			path: modules/filter/src/FilterProcessResult.php

		-
			message: "#^Call to an undefined static method static\\(Drupal\\\\Tests\\\\migrate\\\\Kernel\\\\MigrateTestBase\\)\\:\\:migrateDumpAlter\\(\\)\\.$#"
			count: 1
			path: modules/migrate/tests/src/Kernel/MigrateTestBase.php

		-
			message: "#^\\#lazy_builder value 'non\\-empty\\-string' at key '0' is invalid\\.$#"
			count: 1
			path: modules/node/src/NodeViewBuilder.php

		-
			message: "#^Drupal\\\\Tests\\\\BrowserTestBase\\:\\:\\$defaultTheme is required\\. See https\\://www\\.drupal\\.org/node/3083055, which includes recommendations on which theme to use\\.$#"
			count: 1
			path: modules/quickedit/tests/src/FunctionalJavascript/QuickEditJavascriptTestBase.php

		-
			message: "#^Class Drupal\\\\block\\\\Entity\\\\Block referenced with incorrect case\\: Drupal\\\\block\\\\entity\\\\Block\\.$#"
			count: 2
			path: modules/settings_tray/settings_tray.module

		-
			message: "#^Class Drupal\\\\advisory_feed_test\\\\AdvisoriesTestHttpClient extends @final class GuzzleHttp\\\\Client\\.$#"
			count: 1
			path: modules/system/tests/modules/advisory_feed_test/src/AdvisoriesTestHttpClient.php

		-
			message: "#^File core/modules/system/tests/modules/entity_test/entity_test\\.inc could not be loaded from Drupal\\\\Core\\\\Extension\\\\ModuleHandlerInterface\\:\\:loadInclude$#"
			count: 2
			path: modules/system/tests/modules/entity_test/entity_test.install

		-
			message: "#^Result of function usleep \\(void\\) is used\\.$#"
			count: 1
			path: modules/system/tests/modules/hold_test/src/EventSubscriber/HoldTestSubscriber.php

		-
			message: "#^Configuration entity must define a `config_export` key\\. See https\\://www\\.drupal\\.org/node/2481909$#"
			count: 1
			path: modules/system/tests/modules/module_installer_config_test/src/Entity/TestConfigType.php

		-
			message: "#^Instantiated class Drupal\\\\Tests\\\\system\\\\Functional\\\\FileTransfer\\\\Exception not found\\.$#"
			count: 1
			path: modules/system/tests/src/Functional/FileTransfer/FileTransferTest.php

		-
			message: "#^Call to function unset\\(\\) contains undefined variable \\$handler\\.$#"
			count: 1
			path: modules/taxonomy/src/Plugin/views/argument/IndexTidDepthModifier.php

		-
			message: "#^Drupal\\\\Tests\\\\BrowserTestBase\\:\\:\\$defaultTheme is required\\. See https\\://www\\.drupal\\.org/node/3083055, which includes recommendations on which theme to use\\.$#"
			count: 1
			path: modules/update/tests/src/Functional/UpdateUploaderTestBase.php

		-
			message: "#^Access to an undefined static property static\\(Drupal\\\\Tests\\\\user\\\\Functional\\\\RestRegisterUserTest\\)\\:\\:\\$entityTypeId\\.$#"
			count: 1
			path: modules/user/tests/src/Functional/RestRegisterUserTest.php

		-
			message: "#^Undefined variable\\: \\$arg$#"
			count: 1
			path: modules/views/src/Plugin/views/argument_validator/None.php

		-
			message: "#^Undefined variable\\: \\$def$#"
			count: 2
			path: modules/views/src/Plugin/views/relationship/EntityReverse.php

		-
			message: "#^Configuration entity must define a `config_export` key\\. See https\\://www\\.drupal\\.org/node/2481909$#"
			count: 1
			path: modules/views/tests/modules/views_config_entity_test/src/Entity/ViewsConfigEntityTest.php

		-
			message: "#^Drupal\\\\Tests\\\\BrowserTestBase\\:\\:\\$defaultTheme is required\\. See https\\://www\\.drupal\\.org/node/3083055, which includes recommendations on which theme to use\\.$#"
			count: 1
			path: tests/Drupal/FunctionalTests/Installer/InstallerExistingConfigNoSystemSiteTest.php

		-
			message: "#^Drupal\\\\Tests\\\\BrowserTestBase\\:\\:\\$defaultTheme is required\\. See https\\://www\\.drupal\\.org/node/3083055, which includes recommendations on which theme to use\\.$#"
			count: 1
			path: tests/Drupal/FunctionalTests/Installer/InstallerExistingConfigTest.php

		-
			message: "#^\\#pre_render callback 'element_info_test…' at key '1' is not trusted\\.$#"
			count: 1
			path: tests/Drupal/KernelTests/Core/Render/Element/WeightTest.php

		-
			message: "#^Instantiated class Drupal\\\\FunctionalTests\\\\BrowserMissingDependentModuleMethodTest not found\\.$#"
			count: 1
			path: tests/Drupal/KernelTests/Core/Test/BrowserTestBaseTest.php

		-
			message: "#^Instantiated class Drupal\\\\FunctionalTests\\\\BrowserMissingDependentModuleTest not found\\.$#"
			count: 1
			path: tests/Drupal/KernelTests/Core/Test/BrowserTestBaseTest.php

		-
			message: "#^Parameter \\$template of method Drupal\\\\KernelTests\\\\KernelTestBase\\:\\:prepareTemplate\\(\\) has invalid type Text_Template\\.$#"
			count: 1
			path: tests/Drupal/KernelTests/KernelTestBase.php

		-
			message: "#^Instantiated class Drupal\\\\KernelTests\\\\KernelMissingDependentModuleMethodTest not found\\.$#"
			count: 1
			path: tests/Drupal/KernelTests/KernelTestBaseTest.php

		-
			message: "#^Instantiated class Drupal\\\\KernelTests\\\\KernelMissingDependentModuleTest not found\\.$#"
			count: 1
			path: tests/Drupal/KernelTests/KernelTestBaseTest.php

		-
			message: "#^A file could not be loaded from Drupal\\\\Core\\\\Extension\\\\ModuleHandlerInterface\\:\\:loadInclude$#"
			count: 1
			path: tests/Drupal/TestTools/Extension/SchemaInspector.php

		-
			message: "#^Instantiated class Drupal\\\\Tests\\\\AssertHelperTestClass not found\\.$#"
			count: 2
			path: tests/Drupal/Tests/AssertHelperTraitTest.php

		-
			message: "#^Array has 2 duplicate keys with value 'ClassWithConstants\\.SOME_KEY' \\(\\\\Drupal\\\\Tests\\\\Component\\\\Annotation\\\\Doctrine\\\\Fixtures\\\\ClassWithConstants\\:\\:SOME_KEY, \\\\Drupal\\\\Tests\\\\Component\\\\Annotation\\\\Doctrine\\\\Fixtures\\\\ClassWithConstants\\:\\:SOME_KEY\\)\\.$#"
			count: 1
			path: tests/Drupal/Tests/Component/Annotation/Doctrine/DocParserTest.php

		-
			message: "#^Function container_test_file_service_test_service_function not found\\.$#"
			count: 1
			path: tests/Drupal/Tests/Component/DependencyInjection/ContainerTest.php

		-
			message: "#^Result of static method Drupal\\\\Composer\\\\Composer\\:\\:ensureComposerVersion\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: tests/Drupal/Tests/Composer/ComposerTest.php

		-
			message: "#^Class Drupal\\\\Driver\\\\Database\\\\corefake\\\\Install\\\\Tasks not found\\.$#"
			count: 1
			path: tests/Drupal/Tests/Core/Database/InstallerObjectTest.php

		-
			message: "#^Class Drupal\\\\Driver\\\\Database\\\\fake\\\\Install\\\\Tasks not found\\.$#"
			count: 1
			path: tests/Drupal/Tests/Core/Database/InstallerObjectTest.php

		-
			message: "#^Array has 2 duplicate keys with value 'default' \\('default', 'default'\\)\\.$#"
			count: 1
			path: tests/Drupal/Tests/Core/Mail/MailManagerTest.php

		-
			message: "#^Call to method getDefinitions\\(\\) on an unknown class Drupal\\\\Core\\\\Plugin\\\\CategorizingPluginManagerTrait\\.$#"
			count: 3
			path: tests/Drupal/Tests/Core/Plugin/CategorizingPluginManagerTraitTest.php

		-
			message: "#^Call to method getSortedDefinitions\\(\\) on an unknown class Drupal\\\\Core\\\\Plugin\\\\CategorizingPluginManagerTrait\\.$#"
			count: 1
			path: tests/Drupal/Tests/Core/Plugin/CategorizingPluginManagerTraitTest.php

		-
			message: "#^\\#access_callback callback class '\\$this\\(Drupal\\\\Tests\\\\Core\\\\Render\\\\RendererCallbackTest\\)' at key '0' does not implement Drupal\\\\Core\\\\Security\\\\TrustedCallbackInterface\\.$#"
			count: 1
			path: tests/Drupal/Tests/Core/Render/RendererCallbackTest.php

		-
			message: "#^\\#lazy_builder callback '\\\\\\\\Drupal\\\\\\\\Tests\\\\\\\\Core…' at key '0' is not trusted\\.$#"
			count: 1
			path: tests/Drupal/Tests/Core/Render/RendererCallbackTest.php

		-
			message: "#^\\#post_render callback class 'Drupal\\\\Tests\\\\Core\\\\Render\\\\RendererCallbackTest' at key '0' does not implement Drupal\\\\Core\\\\Security\\\\TrustedCallbackInterface\\.$#"
			count: 1
			path: tests/Drupal/Tests/Core/Render/RendererCallbackTest.php

		-
			message: "#^\\#pre_render callback '\\\\\\\\Drupal\\\\\\\\Tests\\\\\\\\Core…' at key '0' is not trusted\\.$#"
			count: 1
			path: tests/Drupal/Tests/Core/Render/RendererCallbackTest.php

		-
			message: "#^The \"\\#lazy_builder\" expects a callable array with arguments\\.$#"
			count: 1
			path: tests/Drupal/Tests/Core/Render/RendererPlaceholdersTest.php

		-
			message: "#^\\#access_callback value 'literal\\-string&non\\-empty\\-string' at key '0' is invalid\\.$#"
			count: 1
			path: tests/Drupal/Tests/Core/Render/RendererTest.php

		-
			message: "#^Call to an undefined static method PHPUnit\\\\Util\\\\ErrorHandler\\:\\:handleError\\(\\)\\.$#"
			count: 1
			path: tests/Drupal/Tests/Listeners/DrupalListener.php

