/**
 * @file
 * This file is used to style the banner block.
 */

.banner__content {
  margin-block: 1rem;
  margin-inline: 4%;
  font-size: 1.188em;
}

.banner__title {
  margin-block: 0 0.5em;
  margin-inline: 0;
  font-family: "Scope One", Georgia, serif;
  font-size: 1.777em;
  font-weight: 400;
  line-height: 1.2em;
}

/* Medium */
@media screen and (min-width: 48rem) {
  /* 768px */
  .banner {
    position: relative; /* Anchor absolutely positioned background image. */
    background-color: #464646;
  }

  .banner__inner {
    display: flex;
    align-items: center;
    min-block-size: 54vw;
    margin: auto;
    padding-block: 0;
    padding-inline: 4%;
  }

  .banner__content {
    position: relative; /* Establish stacking context to appear above absolutely positioned background image. */
    max-inline-size: 50%;
    margin: 0;
    padding: 1.777em;
    color: #fff;
    border: 1px solid #464646;
    background: rgba(0, 0, 0, 0.42);
  }

  .banner__image img {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
}
/* Large */
@media screen and (min-width: 60rem) {
  /* 960px */
  .banner__content {
    max-inline-size: 41%;
  }
  .banner__inner {
    min-block-size: 43vw;
  }
}
/* Extra large + side margins */
@media screen and (min-width: 80rem) {
  /* 1200px (large) + 80px (side margins) = 1280px */
  .banner__inner {
    padding: 0;
  }
}
