/**
 * @file
 * Alignment classes for text and block level elements.
 */

.text-align-left {
  text-align: start;
}
.text-align-right {
  text-align: end;
}
.text-align-center {
  text-align: center;
}
.text-align-justify {
  text-align: justify;
}

/**
 * Alignment classes for block level elements (images, videos, blockquotes, etc.)
 */
.align-left {
  float: inline-start;
}
.align-right {
  float: inline-end;
}
.align-center {
  display: block;
  margin-inline: auto;
}
