/**
 * @file
 * Resizable textareas.
 */

.resize-none {
  resize: none;
}
.resize-vertical {
  min-block-size: 2em;
  resize: vertical;
}
.resize-horizontal {
  max-inline-size: 100%;
  resize: horizontal;
}
.resize-both {
  max-inline-size: 100%;
  min-block-size: 2em;
  resize: both;
}
