body {
  overflow-x: hidden;
}
#position-reference-1 {
  inline-size: 200px;
  block-size: 200px;
  margin-block: 75px;
  margin-inline: 100px;
  border: 1px solid black;
}

.test-tip {
  inline-size: 75px;
  block-size: 75px;
  border: 1px solid blue;
}

[data-off-canvas-main-canvas] {
  min-block-size: 1200px;
}
