/**
 * @file
 *
 * Styles for the announcements feed within the off-canvas dialog.
 */

#drupal-off-canvas-wrapper {
  & .announcements {
    padding-block-start: var(--off-canvas-padding);
  }

  & .announcements ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  & .announcement {
    font-size: 14px;
  }

  & .announcement--featured {
    position: relative;
    margin-inline: calc(-1 * var(--off-canvas-padding));
    padding: 0 var(--off-canvas-padding) var(--off-canvas-padding);
    border-bottom: 1px solid var(--off-canvas-border-color);
  }

  & .announcement--standard {
    padding-top: var(--off-canvas-padding);
  }

  & .announcement__title {
    font-size: 16px;

    @media only screen and (min-width: 1000px) {
      width: 85%;
    }
  }

  & .announcement__new {
    font-style: italic;

    @media only screen and (min-width: 1000px) {
      inset-inline-end: var(--off-canvas-padding);
      position: absolute;
    }
  }

  & .no_alerts {
    margin-block-start: var(--off-canvas-padding));
  }
}
