.announcements ul {
  margin-inline-start: 0;
  list-style: none;
}

.announcement:not(.announcement:last-child) {
  margin-block-end: 1rem;
}

.announcement .announcement__new {
  padding-inline-start: 0.625rem;
  font-style: italic;
}
