/**
* @file
 * This code ensures that all direct descendants will be inline.
 */
 
 .form--inline > * {
    display: inline-block;
    margin-top: 0.5625rem;
    margin-bottom: 0;
    vertical-align: top; /* Ensure proper alignment if description is present. */
  }