/**
 * @file
 * This file is used to style the bottom region.
 */

.layout-bottom {
  overflow: hidden;
  padding-block: 2rem;
  padding-inline: 4%;
  background: #fff;
}
/* Extra large + side margins */
@media screen and (min-width: 80rem) {
  /* 1200px (large) + 80px (side margins) = 1280px */
  .layout-bottom {
    padding-block: 2rem;
    padding-inline: 0;
  }
}
