/**
 * @file
 * Base styles for dropbuttons.
 */

/**
 * When a dropbutton has only one option, it is simply a button.
 */
.dropbutton-wrapper,
.dropbutton-wrapper div {
  box-sizing: border-box;
}
.js .dropbutton-wrapper,
.js .dropbutton-widget {
  position: relative;
  display: block;
}

@media screen and (max-width: 600px) {
  .js .dropbutton-wrapper {
    inline-size: 100%;
  }
}

/* Splitbuttons */
@media screen and (min-width: 600px) {
  .form-actions .dropbutton-wrapper {
    float: inline-start; /* LTR */
  }
  [dir="rtl"] .form-actions .dropbutton-wrapper {
    float: inline-end;
  }
}
.js .form-actions .dropbutton-widget {
  position: static;
}
.js td .dropbutton-widget {
  position: absolute;
}
.js td .dropbutton-wrapper {
  min-block-size: 2em;
}
.js td .dropbutton-multiple {
  max-inline-size: 100%;
  margin-inline-end: 2em; /* LTR */
  padding-inline-end: 10em; /* LTR */
}
[dir="rtl"].js td .dropbutton-multiple {
  margin-inline: 2em 0;
  padding-inline: 10em 0;
}
.js td .dropbutton-multiple .dropbutton-action a,
.js td .dropbutton-multiple .dropbutton-action input,
.js td .dropbutton-multiple .dropbutton-action button {
  inline-size: auto;
}

/* UL styles are over-scoped in core, so this selector needs weight parity. */
.js .dropbutton-widget .dropbutton {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.js .dropbutton li,
.js .dropbutton a {
  display: block;
  outline: none;
}

.js .dropbutton li:hover,
.js .dropbutton li:focus,
.js .dropbutton a:hover,
.js .dropbutton a:focus {
  outline: initial;
}

/**
 * The dropbutton styling.
 *
 * A dropbutton is a widget that displays a list of action links as a button
 * with a primary action. Secondary actions are hidden behind a click on a
 * twisty arrow.
 *
 * The arrow is created using border on a zero-width, zero-height span.
 * The arrow inherits the link color, but can be overridden with border colors.
 */
.js .dropbutton-multiple .dropbutton-widget {
  padding-inline-end: 2em; /* LTR */
}
.js[dir="rtl"] .dropbutton-multiple .dropbutton-widget {
  padding-inline: 2em 0;
}
.dropbutton-multiple.open,
.dropbutton-multiple.open .dropbutton-widget {
  max-inline-size: none;
}
.dropbutton-multiple.open {
  z-index: 100;
}
.dropbutton-multiple .dropbutton .secondary-action {
  display: none;
}
.dropbutton-multiple.open .dropbutton .secondary-action {
  display: block;
}
.dropbutton-toggle {
  position: absolute;
  inset-block: 0;
  inset-inline-end: 0; /* LTR */
  display: block;
  inline-size: 2em;
  white-space: nowrap;
  text-indent: 110%;
}
[dir="rtl"] .dropbutton-toggle {
  inset-inline: 0 auto;
}
.dropbutton-toggle button {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  background: none;
}
.dropbutton-toggle button:hover,
.dropbutton-toggle button:focus {
  outline: initial;
}
.dropbutton-arrow {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 40%; /* 0.6667em; */ /* LTR */
  display: block;
  overflow: hidden;
  inline-size: 0;
  block-size: 0;
  margin-block-start: -0.1666em;
  border-width: 0.3333em 0.3333em 0;
  border-style: solid;
  border-inline-end-color: transparent;
  border-block-end-color: transparent;
  border-inline-start-color: transparent;
  line-height: 0;
}
[dir="rtl"] .dropbutton-arrow {
  inset-inline: 0.6667em auto;
}
.dropbutton-multiple.open .dropbutton-arrow {
  inset-block-start: 0.6667em;
  border-block-start-color: transparent;
  border-block-end: 0.3333em solid;
}
