/**
 * @file
 * Inline items.
 */

.container-inline label:after,
.container-inline .label:after {
  content: ":";
}
.container-inline .form-radios label:after,
.container-inline .form-checkboxes label:after {
  content: "";
}
.container-inline .form-radios .form-type-radio,
.container-inline .form-checkboxes .form-type-checkbox {
  margin-inline-end: 1em;
}
.container-inline .form-actions,
.container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}
