/**
 * @file
 * Collapsible details.
 *
 * @see collapse.js
 * @see http://nicolasgallagher.com/css-background-image-hacks/
 */

details {
  margin-block: 1em;
  border: 1px solid #ccc;
}
details > .details-wrapper {
  padding-block: 0.5em;
  padding-inline: 1.5em;
}
summary {
  padding-block: 0.2em;
  padding-inline: 0.5em;
  cursor: pointer;
}
