/**
 * @file
 * Image upload widget.
 */

.image-preview {
  float: left; /* LTR */
  padding-block: 0 10px;
  padding-inline: 0 10px; /* LTR */
}
[dir="rtl"] .image-preview {
  float: right;
  padding-block: 0 10px;
  padding-inline: 10px 0;
}
.image-widget-data {
  float: left; /* LTR */
}
[dir="rtl"] .image-widget-data {
  float: right;
}
.image-widget-data .text-field {
  width: auto;
}
