/**
 * @file
 * Image upload widget.
 */

.image-preview {
  float: inline-start; /* LTR */
  padding-block: 0 10px;
  padding-inline: 0 10px;
}
[dir="rtl"] .image-preview {
  float: inline-end;
}
.image-widget-data {
  float: inline-start; /* LTR */
}
[dir="rtl"] .image-widget-data {
  float: inline-end;
}
.image-widget-data .text-field {
  inline-size: auto;
}
