/**
 * @file
 * Image upload widget.
 */

.image-preview {
  float: inline-start;
  padding-block: 0 10px;
  padding-inline: 0 10px;
}
.image-widget-data {
  float: inline-start;
}
.image-widget-data .text-field {
  inline-size: auto;
}
