/**
 * @file
 * Visual styles for inline forms.
 */

.form--inline .form-item {
  float: inline-start; /* LTR */
  margin-inline-end: 0.5em; /* LTR */
}
[dir="rtl"] .form--inline .form-item {
  float: inline-end;
  margin-inline: 0.5em 0;
}
/* This is required to win over specificity of [dir="rtl"] .form--inline .form-item */
[dir="rtl"] .views-filterable-options-controls .form-item {
  margin-inline-end: 2%;
}
.form--inline .form-item-separator {
  margin-block-start: 2.3em;
  margin-inline: 0.5em 1em; /* LTR */ /* LTR */
}
[dir="rtl"] .form--inline .form-item-separator {
  margin-inline: 1em 0.5em;
}
.form--inline .form-actions {
  clear: inline-start;
}
