/**
 * @file
 * Styling for Settings Tray module's toolbar tabs.
 */

/*
 * Position the edit toolbar tab.
 */
.toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab {
  float: left;
}
[dir="rtl"] .toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab {
  float: right;
}

/* Style the edit mode toolbar and tabs. */
#toolbar-bar.js-settings-tray-edit-mode {
  background-image: linear-gradient(to bottom, #0a7bc1, #0a6eb4);
}

.js-settings-tray-edit-mode .toolbar-item:not(.toolbar-icon-edit) {
  color: #999;
}
.js-settings-tray-edit-mode .toolbar-item:not(.toolbar-icon-edit) .is-active {
  color: #333;
}

/* Style both the edit and editing states of the contextual links toggle tab. */
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item,
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item.is-active,
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item:focus {
  color: #eee;
  outline: none;
  background-color: #0066a1;
  background-image: linear-gradient(to bottom, #0066a1, #005b98);
  text-shadow: none;
  font-weight: bold;
}

/* Make the hover of the inactive state the same as the active state. */
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item:hover,
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item.is-active {
   color: #fff;
   background-image: linear-gradient(to bottom, #0a7bc1, #0a6eb4);
 }

/* Make the hover of the active state the same as the inactive state. */
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item.is-active:hover {
  color: #fff;
}
#toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active:hover {
  background-color: #0066a1;
  background-image: linear-gradient(to bottom, #0066a1, #005b98);
}
