.component--my-card {
  max-inline-size: 500px;
  margin-block: 15px;
  margin-inline: auto;
  color: #f1f1f1;
  border: 1px solid #141414;
  background-color: #252525;
}

.component--my-card__header {
  margin: 0;
  padding-block: 12px 5px;
  padding-inline: 24px;
  border-block-end: 1px solid #4a4a4a;
  font-size: 2.5rem;
  font-weight: bold;
}

.component--my-card__body {
  padding-block: 12px 24px;
  padding-inline: 24px;
}
.component--my-card__body .component--my-button {
  display: block;
  margin-block: 0;
  margin-inline: auto;
}
