/**
 * @file
 * The .contextual.css file is intended to contain styles that override declarations
 * in the Contextual module.
 */

.views-live-preview .contextual-region-active {
  outline: medium none;
}
.views-live-preview .contextual {
  inset-block-start: auto;
  inset-inline-end: auto;
}
.js .views-live-preview .contextual {
  display: inline;
}
.views-live-preview .contextual-links-trigger {
  display: block;
}
.contextual .contextual-links {
  inset-inline-end: auto;
  min-inline-size: 10em;
  padding-block: 6px 9px;
  padding-inline: 6px;
  border-radius: 0 4px 4px 4px;
}
.contextual-links li a,
.contextual-links li span {
  padding-block: 0.25em;
  padding-inline-end: 0.1667em;
}
.contextual-links li span {
  font-weight: bold;
}
.contextual-links li a {
  margin-block: 0.25em;
  margin-inline: 0;
  padding-inline-start: 1em; /* LTR */
}
[dir="rtl"] .contextual-links li a {
  padding-inline: 0.1667em 1em;
}
.contextual-links li a:hover {
  background-color: #badbec;
}
