/**
 * @file
 * Recreate Drupal admin styling that was removed with reset.
 * @see system.admin.css
 *
 * @internal
 */

#drupal-off-canvas-wrapper {
  & .panel {
    padding-block: 5px 15px;
    padding-inline: 5px;
  }

  & .panel__description {
    margin-block: 0 3px;
    margin-inline: 0;
    padding-block: 2px 3px;
    padding-inline: 0;
  }

  & .compact-link {
    margin-block: 0 10px;
    margin-inline: 0;
  }

  & small .admin-link::before {
    content: " [";
  }

  & small .admin-link::after {
    content: "]";
  }
}
