/**
 * @file
 * Visual styling for tables in the off-canvas dialog.
 */

#drupal-off-canvas {
  & .draggable-table {
    width: 100%;
  }

  & td,
  & th {
    padding: 2px 8px;
    text-align: start;
    vertical-align: middle;
    border-bottom: 1px solid #777;
    background-color: transparent;
  }

  & th {
    font-weight: bold;
  }

  & th.checkbox,
  & td.checkbox {
    width: 20px;
    padding: 0;
    text-align: center;
  }

  & div.checkbox.menu-enabled {
    position: static;
    display: inline;
    width: auto;
  }

  /* For lack of a better class, using this to grab the operations th. */
  & .tabledrag-has-colspan {
    padding-right: 20px;
    text-align: right;
  }

  & td {
    padding: 6px 8px;
    color: #ddd;
  }

  /* Hide overflow with ellipsis for links. */
  & td a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: transparent;
  }
}
