/**
 * @file
 * Visual styling for summary and details in the off-canvas dialog.
 */
#drupal-off-canvas {
  --off-canvas-details-background-color: #474747;
  --off-canvas-details-text-color: #ddd;

  & details {
    display: block;
  }

  & details,
  & summary,
  & .ui-dialog-content {
    color: var(--off-canvas-details-text-color);
    background: var(--off-canvas-details-background-color);
  }

  & summary a {
    padding-top: 0;
    padding-bottom: 0;
    color: var(--off-canvas-details-text-color);

    &:hover,
    &:focus {
      color: #fff;
    }
  }

  & details,
  & summary,
  & .details-wrapper {
    /* Cancel out the padding of the parent. */
    margin: 0 calc(-1 * var(--off-canvas-padding));
    padding: 0 var(--off-canvas-padding);
    border-width: 0;
  }

  & summary {
    padding: 10px 20px;
    transition: all 0.5s ease;
    text-shadow: none;
    font-size: 14px;

    &:hover,
    &:focus {
      background-color: #222;
    }

    &:focus {
      outline-offset: -4px; /* Ensure focus doesn't get cut off. */
    }
  }

  & details[open] {
    padding-bottom: 10px;

    & > summary {
      color: #eee;
      background-color: #333;
    }

    & > summary:hover {
      color: #fff;
      background-color: #222;
    }
  }

  & details .placeholder {
    color: inherit;
    background: transparent;
    font: inherit;
    font-style: italic;
  }
}
