/**
 * @file
 * Reset most HTML elements styles for the off-canvas dialog.
 *
 * This is a generic reset. Drupal-specific classes are reset in components.
 */

 #drupal-off-canvas-wrapper {
  --ui-off-canvas-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  --ui-off-canvas-inline-border-color: #2d2d2d;
  --ui-off-canvas-inline-border-width: 1px;
  --ui-off-canvas-title-background-color: #2d2d2d;
  --ui-off-canvas-title-text-color: #fff;
  --ui-off-canvas-title-padding: 1em;
  --ui-off-canvas-title-font-size: 16px;
  --ui-off-canvas-title-font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;

  all: revert;
  z-index: 501; /* Layer the dialog just under the toolbar. */
  box-shadow: var(--ui-off-canvas-box-shadow);
  border-inline-start: solid var(--ui-off-canvas-inline-border-width) var(--ui-off-canvas-inline-border-color);

 /*
  * Prevent jQueryUI styles from leaking into the titlebar. No need to revert
  * #drupal-off-canvas, which has its own reset.
  */
  & *:where(:not(#drupal-off-canvas, #drupal-off-canvas *, .ui-resizable-handle)) {
    all: revert;
  }
}

#drupal-off-canvas *:where(:not(svg, svg *, .ck-reset *, [data-drupal-ck-style-fence] *)) {
  all: revert;
  box-sizing: border-box;
  font-smoothing: antialiased;
  line-height: 1.4;

  &:after,
  &:before {
    all: revert;
    box-sizing: border-box;
    font-smoothing: antialiased;
  }
}
