/**
 * @file
 * Styling for tables in the off-canvas dialog.
 */

#drupal-off-canvas-wrapper {
  --off-canvas-table-cell-padding: 2px;

  & tr {
    border-bottom: 1px solid var(--off-canvas-border-color);
  }

  & td,
  & th {
    padding: var(--off-canvas-table-cell-padding);
    text-align: start;
    vertical-align: middle;
  }

  & th {
    font-weight: bold;
  }

  & th.checkbox {
    text-align: center;
  }

  & .checkbox.menu-enabled {
    position: static;
    display: inline;
    width: auto;
  }
}
