/**
 * @file
 * Throbber for AJAX actions.
 */

#drupal-off-canvas-wrapper {
  & .throbber {
    display: inline-block;
    width: 20px;
    height: 20px;
    animation: off-canvas-throbber-spin 1s linear infinite;
    border: 2px solid var(--off-canvas-text-color);
    border-top-color: transparent;
    border-radius: 50%;

    @media (forced-colors: active) {
      border-top-color: transparent;
    }
  }
}

@keyframes off-canvas-throbber-spin {
  to {
    transform: rotate(360deg);
  }
}
