/**
 * @file
 * CSS for off-canvas dialog.
 */
#drupal-off-canvas-wrapper {
  /* Position the off-canvas dialog container outside the right of the viewport. */
  overflow: visible;
  box-sizing: border-box;
  height: 100%;

 /*
  * Force the off-canvas dialog to be 100% width at the same breakpoint the
  * dialog system uses to expand dialog widths.
  */
  @media (max-width: 768px) {
    width: 100% !important;
  }
}

/* When off-canvas dialog is at 100% width stop the body from scrolling */
body.js-off-canvas-dialog-open {
  @media (max-width: 768px) {
    position: fixed;
  }
}
