/**
 * @file
 * Admin styling for the Filter module.
 */

/**
 * Filter information under field.
 */
.text-format-wrapper > .form-item {
  margin-block-end: 0;
}

.filter-wrapper {
  overflow: hidden;
  margin: 0;
  padding-block: 0.5em;
  padding-inline: 0.666em;
  border: 1px solid #ccc;
  border-block-start: 0;
}
.filter-wrapper .form-item {
  margin: 0;
}
.filter-wrapper .form-item label {
  display: inline;
}

.filter-help {
  float: inline-end;
}
.filter-guidelines .filter-guidelines-item {
  margin-block-start: 1em;
}
.filter-help p {
  margin: 0;
}
.filter-help a {
  position: relative;
  margin-block: 0;
  margin-inline: 0 20px;
}
.filter-help a::after {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: -20px;
  display: block;
  inline-size: 16px;
  block-size: 16px;
  content: "";
  background: transparent url(../../../../../../misc/help.png);
}

.text-format-wrapper .description {
  margin-block-start: 0.5em;
}
.tips {
  margin-block: 0;
  padding-block: 0;
  font-size: 0.9em;
}

/**
 * Improve filter tips position.
 */
.tips {
  padding-inline-start: 0;
}
