/**
 * Image style configuration pages.
 */
.image-style-new,
.image-style-new div {
  display: inline;
}
.image-style-preview .preview-image-wrapper {
  inset-block-start: 50%;
  float: inline-start;
  inline-size: 48%;
  padding-block-end: 2em;
  text-align: center;
}
.image-style-preview .preview-image {
  position: relative;
  margin: auto;
}
.image-style-preview .preview-image .width {
  position: absolute;
  inset-block-end: -6px;
  inset-inline-start: -1px;
  box-sizing: content-box;
  block-size: 2px;
  border: 1px solid #666;
  border-block-start: none;
}
.image-style-preview .preview-image .width span {
  position: relative;
  inset-block-start: 4px;
}
.image-style-preview .preview-image .height {
  position: absolute;
  inset-block-start: -1px;
  inset-inline-end: -6px;
  box-sizing: content-box;
  inline-size: 2px;
  border: 1px solid #666;
  border-inline-start: none;
}
.image-style-preview .preview-image .height span {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 10px;
  block-size: 2em;
  margin-block-start: -1em;
}

/**
 * Improve image style preview on narrow viewports.
 */
@media screen and (max-width: 470px) {
  .image-style-preview .preview-image-wrapper {
    float: none;
    margin-block-end: 1em;
  }
  .image-style-preview .preview-image-wrapper:last-child {
    margin-block-end: 0;
  }
}

/**
 * Image anchor element.
 */
.image-anchor {
  inline-size: auto;
}
.image-anchor tr {
  background: none;
}
.image-anchor td {
  border: 1px solid #ccc;
}
