/**
 * @file
 * Styles used by the Update Manager module.
 */

.project-update__title {
  font-size: 110%;
  font-weight: bold;
}
.project-update__status {
  float: inline-end;
  font-size: 110%;
}
.project-update__status--not-supported {
  float: inline-end;
}
.project-update__status--security-error {
  color: #970f00;
  font-weight: bold;
}

.project-update__status-icon {
  padding-inline-start: 0.5em;
}
.project-update__details {
  padding-block: 1em 0.25em;
  padding-inline: 1em;
}

.project-update__version {
  padding-block: 1em;
  padding-inline: 0;
}
.project-update__version-date {
  white-space: nowrap;
}
.project-update__version-details {
  padding-inline-end: 0.5em;
}
[dir="rtl"] .project-update__version-details {
  direction: ltr; /* Version numbers should always be LTR. */
}
.project-update__version-links {
  padding-inline-end: 1em;
  list-style-type: none;
  text-align: end;
}
.project-update__version--recommended-strong .project-update__version-title {
  font-weight: bold;
}
