/**
 * @file
 * This file is used to style the 'full' view mode.
 */
.node--view-mode-full {
  margin-block: 0;
  margin-inline: auto;
  padding: 1.266rem;
  border-block-start: 1px solid #fcece7;
  border-inline-end: none;
  border-block-end: 1px solid #fcece7;
  border-inline-start: none;
  background-color: #fff;
}
/* Large */
@media screen and (min-width: 60rem) {
  /* 960px */
  .node--view-mode-full {
    padding: 2.37rem;
    border-inline-end: 1px solid #fcece7;
    border-inline-start: 1px solid #fcece7;
  }
}

.node--view-mode-full .node__submitted {
  margin-block-end: 1.2em;
  font-size: 0.889em;
}
.node--view-mode-full .by-author::after {
  display: inline-block;
  margin-block: 0;
  margin-inline: 0.25ex;
  content: "•";
  vertical-align: middle;
  color: #7cbe8c;
  font-size: 2em;
}

.node--view-mode-full .field--name-field-media-image {
  margin-block-end: 1.184rem;
}
/* Large */
@media screen and (min-width: 60rem) {
  /* 960px */
  .node--view-mode-full .field--name-field-media-image {
    margin-block-end: 2.369rem;
  }
}
