/**
 * @file
 * Table drag behavior.
 *
 * @see tabledrag.js
 */

body.drag {
  cursor: move;
}
tr.region-title {
  font-weight: bold;
}
tr.region-message {
  color: #999;
}
tr.region-populated {
  display: none;
}
tr.add-new .tabledrag-changed {
  display: none;
}
.draggable a.tabledrag-handle {
  float: inline-start; /* LTR */
  overflow: hidden;
  block-size: 1.7em;
  margin-inline-start: -1em; /* LTR */
  cursor: move;
  text-decoration: none;
}
[dir="rtl"] .draggable a.tabledrag-handle {
  float: inline-end;
  margin-inline: 0 -1em;
}
a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  inline-size: 14px;
  block-size: 14px;
  margin-block: -0.4em 0;
  margin-inline: 0.5em;
  padding-block: 0.42em;
  padding-inline: 0.5em;
  background: url(../../../../../misc/icons/787878/move.svg) no-repeat 6px 7px;
}
a.tabledrag-handle:hover .handle,
a.tabledrag-handle:focus .handle {
  background-image: url(../../../../../misc/icons/000000/move.svg);
}
.touchevents .draggable td {
  padding-block: 0;
  padding-inline: 10px;
}
.touchevents .draggable .menu-item__link {
  display: inline-block;
  padding-block: 10px;
  padding-inline: 0;
}
.touchevents a.tabledrag-handle {
  inline-size: 40px;
  block-size: 44px;
}
.touchevents a.tabledrag-handle .handle {
  block-size: 21px;
  background-position: 40% 19px; /* LTR */
}
[dir="rtl"] .touch a.tabledrag-handle .handle {
  background-position: right 40% top 19px;
}
.touchevents .draggable.drag a.tabledrag-handle .handle {
  background-position: 50% -32px;
}
.tabledrag-toggle-weight-wrapper {
  text-align: end; /* LTR */
}
[dir="rtl"] .tabledrag-toggle-weight-wrapper {
  text-align: start;
}
.indentation {
  float: inline-start; /* LTR */
  inline-size: 20px;
  block-size: 1.7em;
  margin-block: -0.4em;
  margin-inline: -0.4em 0.2em; /* LTR */
  padding-block: 0.42em;
  padding-inline: 0.6em 0; /* LTR */
}
[dir="rtl"] .indentation {
  float: inline-end;
  margin-block: -0.4em;
  margin-inline: 0.2em -0.4em;
  padding-block: 0.42em;
  padding-inline: 0 0.6em;
}
