/**
 * @file
 * Admin styling for the User module.
 */

/* Permissions page */
.permissions .module {
  font-weight: bold;
}
.permissions .permission {
  padding-inline-start: 1.5em;
}
/* Account settings */
.user-admin-settings .details-description {
  padding-block-end: 0.5em;
  font-size: 0.85em;
}

.permissions tbody tr:has(input[type="checkbox"].js-rid-authenticated:not(:checked)) .js-fake-checkbox {
  display: none;
}
.permissions tbody tr:has(input[type="checkbox"].js-rid-authenticated:checked) .js-real-checkbox {
  display: none;
}
