/**
 * @file
 * Visual styling for tables in the off-canvas dialog.
 */


#drupal-off-canvas .draggable-table {
  width: 100%;
}

#drupal-off-canvas td,
#drupal-off-canvas th {
  padding: 2px 8px;
  vertical-align: middle;
  border-bottom: 1px solid #777;
  background-color: transparent;
}
[dir="rtl"] #drupal-off-canvas th,
[dir="rtl"] #drupal-off-canvas td {
  text-align: right;
}
#drupal-off-canvas th {
  font-weight: bold;
}
#drupal-off-canvas th.checkbox,
#drupal-off-canvas td.checkbox {
  width: 20px;
  padding: 0;
  text-align: center;
}
#drupal-off-canvas div.checkbox.menu-enabled {
  position: static;
  display: inline;
  width: auto;
}
/* For lack of a better class, using this to grab the operations th. */
#drupal-off-canvas .tabledrag-has-colspan {
  padding-right: 20px;
  text-align: right;
}
#drupal-off-canvas td {
  padding: 6px 8px;
  color: #ddd;
}
/* Hide overflow with ellipsis for links. */
#drupal-off-canvas td a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: transparent;
}
