/**
 * @file
 * Visual styling for forms in the off-canvas dialog.
 */

 #drupal-off-canvas .ck-content {
   color: black;
 }

#drupal-off-canvas .form-item {
  padding: 8px 0;
}

#drupal-off-canvas .form-item .description {
  font-size: 12px;
}

#drupal-off-canvas input:where(:not([type="submit"])),
#drupal-off-canvas select {
  max-width: 100%;
  padding: 8px
}
