/**
 * @file
 * Set base styles for the off-canvas dialog.
 */

/* Set some global attributes. */
#drupal-off-canvas {
  color: #ddd;
  background: #444;

  /* Generic elements. */
  & a,
  & .link {
    transition: color 0.5s ease;
    text-decoration: none;
    color: #85bef4;
    border-bottom: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
    font-size: inherit;
    font-weight: normal;
  }

  & .links,
  & .inline-block-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & hr {
    height: 1px;
    background: #ccc;
  }

  & summary,
  & .fieldgroup:not(.form-composite) > legend {
  }

  & h1,
  & .heading-a {
    font-size: 1.625em;
    line-height: 1.875em;
  }

  & h2,
  & .heading-b {
    margin: 10px 0;
    font-size: 1.385em;
  }

  & h3,
  & .heading-c {
    margin: 10px 0;
    font-size: 1.231em;
  }

  & h4,
  & .heading-d {
    margin: 10px 0;
    font-size: 1.154em;
  }

  & h5,
  & .heading-e {
    margin: 10px 0;
    font-size: 1.077em;
  }

  & h6,
  & .heading-f {
    margin: 10px 0;
    font-size: 1.077em;
  }

  & p {
    margin: 1em 0;
  }

  & ul li,
  & ol li {
    padding: 5px 0;
    border-bottom: 1px solid #ffffff33;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  /* Classes for hidden and visually hidden elements. See hidden.module.css. */
  & .hidden {
    display: none;
  }

  & .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }

  & .visually-hidden.focusable:active,
  & .visually-hidden.focusable:focus {
    position: static !important;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
  }

  & .invisible {
    visibility: hidden;
  }

  /* Some system classes. See system.admin.css. */
  & .panel {
    padding: 5px 5px 15px;
  }

  & .panel__description {
    margin: 0 0 3px;
    padding: 2px 0 3px 0;
  }

  & .compact-link {
    margin: 0 0 10px 0;
  }

  & small .admin-link:before {
    content: " [";
  }

  & small .admin-link:after {
    content: "]";
  }

  /* Override jQuery UI */
  & .ui-widget-content a {
    color: #85bef4 !important;
  }

  /* Message styles */
  & .messages {
    background: no-repeat 10px 17px;

    &:dir(rtl) {
      background-position: right 10px top 17px;
    }
  }

  & .messages abbr {
    color: #444;
  }
  & .messages--status {
    color: #325e1c;
    background-color: #f3faef;
    background-image: url(../icons/73b355/check.svg);
  }
  & .messages--warning {
    color: #734c00;
    background-color: #fdf8ed;
    background-image: url(../icons/e29700/warning.svg);
  }

  & .messages--error {
    color: #a51b00;
    background-color: #fcf4f2;
    background-image: url(../icons/e32700/error.svg);
  }

  & .messages--error div[role="alert"] {
    color: inherit;
    background: transparent;
  }
}
