/*
 * @file
 * Provides default layout styles for all layout sections.
 */

@import "../base/media-queries.pcss.css";

.layout {
  display: grid;
  gap: var(--grid-gap);
  margin-block-end: calc(var(--sp) + var(--grid-gap));

  @media (--md) {
    margin-block-end: var(--sp2);
  }

  @media (--lg) {
    margin-block-end: var(--sp3);
  }
}
