/*
 * @file
 * Provides the layout styles for two-column layout section.
 */

@import "../base/media-queries.pcss.css";

.layout--twocol-section {
  display: grid;
  gap: var(--grid-gap);
}

@media (--md) {
  .layout--twocol-section--50-50 {
    grid-template-columns: repeat(2, 1fr);
  }

  .layout--twocol-section--33-67 {
    grid-template-columns: var(--grid-3-col-width) 1fr;
  }

  .layout--twocol-section--67-33 {
    grid-template-columns: 1fr var(--grid-3-col-width);
  }

  .layout--twocol-section--25-75 {
    grid-template-columns: var(--grid-2-col-width) 1fr;
  }

  .layout--twocol-section--75-25 {
    grid-template-columns: 1fr var(--grid-2-col-width);
  }
}
