/*
 * @file
 * Provides the layout styles for three-column layout section.
 */

@import "../base/media-queries.pcss.css";

.layout--threecol-section {
  display: grid;
  gap: var(--grid-gap);
}

@media (--lg) {
  .layout--threecol-section--25-50-25 {
    grid-template-columns: var(--grid-2-col-width) 1fr var(--grid-2-col-width);
  }

  .layout--threecol-section--25-25-50 {
    grid-template-columns: var(--grid-2-col-width) var(--grid-2-col-width) 1fr;
  }

  .layout--threecol-section--50-25-25 {
    grid-template-columns: 1fr var(--grid-2-col-width) var(--grid-2-col-width);
  }

  .layout--threecol-section--33-34-33 {
    grid-template-columns: repeat(3, 1fr);
  }
}
