/*
 * @file
 * Provides the layout styles for four-column layout section.
 */

@import "../base/media-queries.pcss.css";

.layout--fourcol-section {
  display: grid;
  gap: var(--grid-gap);

  /* Two column layout. */
  @media (--md) {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Four column layout. */
  @media (--lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
