/**
 * @file
 * Inline items.
 */

.container-inline label::after,
.container-inline .label::after {
  content: ":";
}
.form-type-radios .container-inline label::after,
.form-type-checkboxes .container-inline label::after {
  content: "";
}
.form-type-radios .container-inline .form-type-radio,
.form-type-checkboxes .container-inline .form-type-checkbox {
  margin-block: 0;
  margin-inline: 1em;
}
.container-inline .form-actions,
.container-inline.form-actions {
  margin-block: 0;
}
