/**
 * @file
 * General styles for dropbuttons.
 */

.js .dropbutton-widget {
  border: 1px solid #ccc;
  background-color: white;
}
.js .dropbutton-widget:hover {
  border-color: #b8b8b8;
}
.dropbutton .dropbutton-action > * {
  padding-block: 0.1em;
  padding-inline: 0.5em;
  white-space: nowrap;
}
.dropbutton .secondary-action {
  border-block-start: 1px solid #e8e8e8;
}
.dropbutton-multiple .dropbutton {
  border-inline-end: 1px solid #e8e8e8; /* LTR */
}
[dir="rtl"] .dropbutton-multiple .dropbutton {
  border-inline-end: 0 none;
  border-inline-start: 1px solid #e8e8e8;
}
.dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-inline-end: 0.25em; /* LTR */
}
[dir="rtl"] .dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-inline: 0.25em 0;
}
