/**
 * @file
 * Styles for modal windows.
 */

.ui-dialog--narrow {
  max-inline-size: 500px;
}

@media screen and (max-width: 600px) {
  .ui-dialog--narrow {
    min-inline-size: 95%;
    max-inline-size: 95%;
  }
}
