.block-views-blockrecipe-collections-block {
  padding: var(--spacing-largest) 4%;
  color: var(--color-white);
  background: var(--color-gray);
}
.block-views-blockrecipe-collections-block .block__title {
  margin-bottom: var(--spacing-larger);
  text-align: center;
}
.block-views-blockrecipe-collections-block .views-view-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block-views-blockrecipe-collections-block .views-col {
  width: 100%;
  padding: 0 14px;
  text-align: center;
}

@media screen and (min-width: 48em) {
  .block-views-blockrecipe-collections-block .views-col {
    width: 25%;
    max-width: 1var(--spacing-largest);
    text-align: left; /* LTR */
  }
  [dir="rtl"] .block-views-blockrecipe-collections-block .views-col {
    text-align: right;
  }
}
.block-views-blockrecipe-collections-block .views-row {
  margin-bottom: var(--spacing-small);
  font-size: 0.9rem;
}
.block-views-blockrecipe-collections-block .views-row a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: bold;
}
.block-views-blockrecipe-collections-block .views-row a:active,
.block-views-blockrecipe-collections-block .views-row a:focus,
.block-views-blockrecipe-collections-block .views-row a:hover {
  text-decoration: underline;
  outline-color: var(--color-white);
  background: transparent;
}
