/**
 * @file
 * Admin styles for the Database Logging module.
 */
.dblog-filter-form .form-item-type,
.dblog-filter-form .form-item-severity {
  display: inline-block;
  max-width: 30%;
  margin: 0.1em 0.9em 0.1em 0.1em; /* LTR */
}
[dir="rtl"] .dblog-filter-form .form-item-type,
[dir="rtl"] .dblog-filter-form .form-item-severity {
  margin: 0.1em 0.1em 0.1em 0.9em;
}
.dblog-filter-form .form-actions {
  display: inline-block;
  padding: 3ex 0 0;
  vertical-align: top;
}
.admin-dblog .icon,
.admin-dblog .severity-0 .severity-icon,
.admin-dblog .severity-1 .severity-icon,
.admin-dblog .severity-2 .severity-icon,
.admin-dblog .severity-3 .severity-icon,
.admin-dblog .severity-4 .severity-icon {
  width: 16px;
  background: no-repeat center;
}
.admin-dblog .severity-4 .severity-icon {
  background-image: url(../../../misc/icons/e29700/warning.svg);
}
.admin-dblog .severity-0 .severity-icon,
.admin-dblog .severity-1 .severity-icon,
.admin-dblog .severity-2 .severity-icon,
.admin-dblog .severity-3 .severity-icon {
  background-image: url(../../../misc/icons/e32700/error.svg);
}
#admin-dblog td.severity-0,
#admin-dblog td.severity-1,
#admin-dblog td.severity-2,
#admin-dblog td.severity-3 {
  background: url(../../../misc/icons/e32700/error.svg) no-repeat center;
}
#admin-dblog td.severity-4 {
  background: no-repeat center url(../../../misc/icons/e29700/warning.svg);
}
