.display-mode-table th:first-child {
  inline-size: 30%;
}
.display-mode-table th:nth-child(2) {
  inline-size: 50%;
}
.display-mode-table th:last-child {
  inline-size: 20%;
}
.display-mode-table td {
  max-inline-size: 50px;
  word-wrap: break-word;
}
