/**
 * @file
 * Styles for Configuration Translation.
 */

/**
 * Hide the label, in an accessible way, for responsive screens which show the
 * form in one column.
 */
.translation-set__translated label {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  inline-size: 1px;
  block-size: 1px;
}

@media screen and (min-width: 38em) {
  .translation-set__translated label {
    position: inherit;
    inline-size: auto;
    block-size: auto;
  }
}
