/**
 * @file
 * This file is used to style the main menu.
 */

.menu-main {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #000;
  font-family: "Scope One", Georgia, serif;
  font-size: 1.266rem;
  font-weight: 400;
  line-height: 1.2;
}
.menu-main__item {
  margin-block-start: 0.8em;
  text-align: center;
}
.menu-main__link {
  display: inline-block;
  /* Margin required for focus outlines. */
  margin-block: 5px;
  margin-inline: 3px;
  padding-block-end: 0.15em;
  transition: all 0.2s;
  text-decoration: none;
  color: inherit;
  border-block-end: solid 0.15em transparent;
  background-color: inherit;
}
.menu-main__link:hover,
.menu-main__link.is-active:hover,
.menu-main__link:focus {
  text-decoration: none;
  color: #da3c13;
  border-block-end-color: #da3c13;
  background-color: inherit;
}
.menu-main__link:active,
.menu-main__link.is-active {
  text-decoration: none;
  border-block-end-color: #da3c13;
}

@media screen and (min-width: 48em) {
  .menu-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .menu-main__item {
    margin-block: 0;
  }
  .menu-main__item + .menu-main__item {
    margin-inline-start: 2.5em;
  }
}

.menu-main__wrapper {
  flex: 0 1 100%;
  text-align: center;
}

@media screen and (min-width: 48em) {
  .menu-main__wrapper {
    flex-basis: calc(100% - 220px);
    flex-grow: 0;
    flex-shrink: 1;
    text-align: end;
  }
}

@media screen and (min-width: 48em) {
  .menu-main {
    display: flex;
    justify-content: flex-end;
  }
}
