/**
 * @file
 * Default styles for the System Status general info.
 */

.system-status-general-info__item {
  margin-block-start: 1em;
  padding-block: 0 1em;
  padding-inline: 1em;
  border: 1px solid #ccc;
}

.system-status-general-info__item-title {
  border-block-end: 1px solid #ccc;
}
