/**
 * @file
 * This file is used to style the highlighted region.
 *
 */

.layout-highlighted {
  padding-block: 0 1em;
  padding-inline: 0;
  background: #fff;
}
.region-highlighted {
  padding-block: 0;
  padding-inline: 4%;
}
/* Extra large + side margins */
@media screen and (min-width: 80rem) {
  /* 1200px (large) + 80px (side margins) = 1280px */
  .region-highlighted {
    padding: 0;
  }
}
